In [7]:
import numpy as np
import pandas as pd
import csv
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(color_codes = True)

pd.set_option('display.max_rows', 150)
pd.set_option('display.max_columns', 150)

In [8]:
raw_data = pd.read_csv('Data_set.csv',encoding='cp949')

In [4]:
raw_data.shape

(100233, 69)

* row: 100,233
* columns : 69
* 아이디와 target을 제외하고 변수는 67개

In [5]:
raw_data.head()

,CUST_ID,TARGET,BNK_LNIF_CNT,CPT_LNIF_CNT,SPART_LNIF_CNT,ECT_LNIF_CNT,TOT_LNIF_AMT,TOT_CLIF_AMT,BNK_LNIF_AMT,CPT_LNIF_AMT,CRDT_OCCR_MDIF,SPTCT_OCCR_MDIF,CRDT_CARD_CNT,CTCD_OCCR_MDIF,CB_GUIF_CNT,CB_GUIF_AMT,OCCP_NAME_G,CUST_JOB_INCM,HSHD_INFR_INCM,ACTL_FMLY_NUM,CUST_FMLY_NUM,LAST_CHLD_AGE,MATE_OCCP_NAME_G,MATE_JOB_INCM,CRDT_LOAN_CNT,MIN_CNTT_DATE,TOT_CRLN_AMT,TOT_REPY_AMT,CRLN_OVDU_RATE,CRLN_30OVDU_RATE,LT1Y_CLOD_RATE,STRT_CRDT_GRAD,LTST_CRDT_GRAD,PREM_OVDU_RATE,LT1Y_PEOD_RATE,AVG_STLN_RATE,STLN_REMN_AMT,LT1Y_STLN_AMT,LT1Y_SLOD_RATE,GDINS_MON_PREM,SVINS_MON_PREM,FMLY_GDINS_MNPREM,FMLY_SVINS_MNPREM,MAX_MON_PREM,TOT_PREM,FMLY_TOT_PREM,CNTT_LAMT_CNT,LT1Y_CTLT_CNT,AUTR_FAIL_MCNT,FYCM_PAID_AMT,FMLY_CLAM_CNT,FMLY_PLPY_CNT,AGE,SEX,AVG_CALL_TIME,AVG_CALL_FREQ,TEL_MBSP_GRAD,ARPU,MON_TLFE_AMT,CBPT_MBSP_YN,MOBL_FATY_PRC,TEL_CNTT_QTR,NUM_DAY_SUSP,CRMM_OVDU_AMT,TLFE_UNPD_CNT,LT1Y_MXOD_AMT,PAYM_METD,LINE_STUS,MOBL_PRIN
0,1,0,1,0,0,0,9001,9001,9001,0,1,0,2,13,3,420001,공무원,5400,7700,4,1,24.0,주부,0,0,0,0,0,0,0,0,0,0,12,20미만,0,0,0,0,190000,0,190000,0,190000,20000000,20000000,0,0,10,0,0,0,50,1,450,493,NaN,30000,80000,N,800000,20111,0,0,0,0,O,U,580000
1,2,0,1,0,0,0,24001,0,24001,0,0,0,2,121,0,0,자영업,5500,8100,4,2,29.0,주부,0,0,0,0,0,0,0,0,0,0,13,0,0,0,0,0,0,0,110000,0,0,7000000,36000000,0,0,0,300000,2,5,50,1,81,22,NaN,30000,40000,N,500000,20143,0,0,0,0,O,U,90000
2,3,0,0,1,3,2,15001,9001,0,3001,1,25,4,121,0,0,주부,0,4900,4,1,34.0,2차산업 종사자,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,100000,11000000,11000000,0,0,0,0,0,2,60,2,139,17,NaN,30000,40000,Y,500000,20103,0,0,0,0,O,U,120000
3,4,1,0,2,4,2,6001,3001,0,3001,1,25,4,61,0,0,학생,0,10100,2,1,0.0,NaN,0,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0,0,4000000,4000000,0,0,0,0,0,1,35,1,1118,0,NaN,30000,80000,N,900000,20144,0,540000,0,630000,G,S,320000
4,5,0,4,0,0,0,21001,15001,21001,0,1,0,1,97,0,0,공무원,4800,4800,4,1,14.0,주부,0,0,0,0,0,0,0,0,0,0,0,0,95,2000000,0,0,0,0,0,0,300000,4000000,4000000,0,0,0,500000,2,1,45,1,396,354,W,50000,80000,Y,800000,20131,0,130000,0,90000,G,U,410000

In [6]:
copy_data = raw_data[:]

In [6]:
copy_data

,CUST_ID,TARGET,BNK_LNIF_CNT,CPT_LNIF_CNT,SPART_LNIF_CNT,ECT_LNIF_CNT,TOT_LNIF_AMT,TOT_CLIF_AMT,BNK_LNIF_AMT,CPT_LNIF_AMT,CRDT_OCCR_MDIF,SPTCT_OCCR_MDIF,CRDT_CARD_CNT,CTCD_OCCR_MDIF,CB_GUIF_CNT,CB_GUIF_AMT,OCCP_NAME_G,CUST_JOB_INCM,HSHD_INFR_INCM,ACTL_FMLY_NUM,CUST_FMLY_NUM,LAST_CHLD_AGE,MATE_OCCP_NAME_G,MATE_JOB_INCM,CRDT_LOAN_CNT,MIN_CNTT_DATE,TOT_CRLN_AMT,TOT_REPY_AMT,CRLN_OVDU_RATE,CRLN_30OVDU_RATE,LT1Y_CLOD_RATE,STRT_CRDT_GRAD,LTST_CRDT_GRAD,PREM_OVDU_RATE,LT1Y_PEOD_RATE,AVG_STLN_RATE,STLN_REMN_AMT,LT1Y_STLN_AMT,LT1Y_SLOD_RATE,GDINS_MON_PREM,SVINS_MON_PREM,FMLY_GDINS_MNPREM,FMLY_SVINS_MNPREM,MAX_MON_PREM,TOT_PREM,FMLY_TOT_PREM,CNTT_LAMT_CNT,LT1Y_CTLT_CNT,AUTR_FAIL_MCNT,FYCM_PAID_AMT,FMLY_CLAM_CNT,FMLY_PLPY_CNT,AGE,SEX,AVG_CALL_TIME,AVG_CALL_FREQ,TEL_MBSP_GRAD,ARPU,MON_TLFE_AMT,CBPT_MBSP_YN,MOBL_FATY_PRC,TEL_CNTT_QTR,NUM_DAY_SUSP,CRMM_OVDU_AMT,TLFE_UNPD_CNT,LT1Y_MXOD_AMT,PAYM_METD,LINE_STUS,MOBL_PRIN
0,1,0,1,0,0,0,9001,9001,9001,0,1,0,2,13,3,420001,공무원,5400,7700,4,1,24.0,주부,0,0,0,0,0,0,0,0,0,0,12,20미만,0,0,0,0,190000,0,190000,0,190000,20000000,20000000,0,0,10,0,0,0,50,1,450,493,NaN,30000,80000,N,800000,20111,0,0,0,0,O,U,580000
1,2,0,1,0,0,0,24001,0,24001,0,0,0,2,121,0,0,자영업,5500,8100,4,2,29.0,주부,0,0,0,0,0,0,0,0,0,0,13,0,0,0,0,0,0,0,110000,0,0,7000000,36000000,0,0,0,300000,2,5,50,1,81,22,NaN,30000,40000,N,500000,20143,0,0,0,0,O,U,90000
2,3,0,0,1,3,2,15001,9001,0,3001,1,25,4,121,0,0,주부,0,4900,4,1,34.0,2차산업 종사자,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,100000,11000000,11000000,0,0,0,0,0,2,60,2,139,17,NaN,30000,40000,Y,500000,20103,0,0,0,0,O,U,120000
3,4,1,0,2,4,2,6001,3001,0,3001,1,25,4,61,0,0,학생,0,10100,2,1,0.0,NaN,0,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0,0,4000000,4000000,0,0,0,0,0,1,35,1,1118,0,NaN,30000,80000,N,900000,20144,0,540000,0,630000,G,S,320000
4,5,0,4,0,0,0,21001,15001,21001,0,1,0,1,97,0,0,공무원,4800,4800,4,1,14.0,주부,0,0,0,0,0,0,0,0,0,0,0,0,95,2000000,0,0,0,0,0,0,300000,4000000,4000000,0,0,0,500000,2,1,45,1,396,354,W,50000,80000,Y,800000,20131,0,130000,0,90000,G,U,410000
5,6,0,1,0,1,1,141001,27001,111001,0,1,1,4,121,0,0,3차산업 종사자,4400,7700,2,2,0.0,단순 사무직,3300,0,0,0,0,0,0,0,0,0,25,0,0,0,0,0,100000,0,190000,0,190000,1000000,6000000,0,0,0,300000,1,1,45,1,268,179,Q,60000,80000,N,400000,20154,0,0,0,0,O,U,170000
6,7,0,0,1,2,1,12001,3001,0,9001,121,121,2,121,1,6001,주부,0,7700,5,3,19.0,2차산업 종사자,4400,1,200106,4000000,4000000,81,14,0,0,0,71,10미만,94,3000000,2000000,10,0,200000,300000,200000,200000,11000000,33000000,0,0,1,800000,0,0,40,2,744,535,W,50000,120000,N,900000,20143,0,120000,0,290000,G,U,720000
7,8,0,1,0,0,0,3001,3001,3001,0,1,0,2,121,0,0,기업/단체 임원,0,10300,3,1,24.0,사무직,5000,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0,60000,4000000,4000000,0,0,0,0,0,1,60,1,309,221,R,10000,70000,Y,900000,20021,0,0,0,0,O,U,40000
8,9,0,2,0,0,0,273001,273001,273001,0,37,0,5,121,0,0,주부,0,7600,4,1,9.0,전문직,5400,0,0,0,0,0,0,0,0,0,3,10미만,0,0,0,0,0,60000,0,60000,60000,2000000,2000000,0,0,0,0,0,0,40,2,314,179,R,60000,70000,Y,0,20131,0,0,0,0,O,U,0
9,10,0,0,1,1,0,9001,9001,0,9001,1,1,3,25,0,0,단순 사무직,4700,12400,4,1,14.0,기업/단체 임원,7500,0,0,0,0,0,0,0,0,0,15,10미만,99,0,3000000,30,300000,0,300000,0,340000,36000000,36000000,0,0,21,300000,1,2,40,1,0,0,NaN,0,0,N,800000,20133,0,0,0,0,O,U,0
10,11,1,0,3,5,2,27001,27001,0,18001,1,25,4,61,0,0,주부,0,11300,3,1,24.0,자영업,6200,0,0,0,0,0,0,0,0,0,1,10미만,0,0,0,0,30000,0,30000,0,590000,1000000,1000000,0,0,2,0,0,0,55,2,17,5,NaN,40000,80000,N,900000,20062,0,0,0,0,R,U,470000
11,12,0,0,1,2,1,9001,6001,0,1,49,49,6,121,0,0,주부,0,9200,2,1,0.0,전문직,5300,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,40000,0,40000,0,40000,3000000,3000000,0,0,0,0,0,0,40,1,766,551,R,70000,380000,N,900000,20133,0,0,0,0,O,U,90000
12,13,0,1,0,0,0,12001,12001,12001,0,13,0,0,0,0,0,학생,0,5900,3,2,0.0,NaN,0,0,0,0,0,0,0,0,0,0,40,0,98,3000000,1000000,0,190000,0,230000,0,390000,9000000,14000000,0,0,31,32400000,0,0,25,2,343,182,W,60000,120000,Y,800000,20141,0,0,0,0,O,U,810000
13,14,0,2,0,0,0,201001,6001,201001,0,13,0,4,121,0,0,사무직,4700,8000,2,1,0.0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,30000,3000000,3000000,0,0,0,100000,1,1,40,1,547,184,W,60000,100000,N,900000,20151,0,0,0,0,K,U,330000
14,15,0,3,1,1,0,15001,9001,9001,3001,13,0,3,37,0,0,학생,0,5500,3,1,0.0,NaN,0,0,0,0,0,0,0,0,0,0,43,50미만,0,0,0,0,50000,0,50000,0,50000,1000000,1000000,0,0,2,0,0,0,25,2,398,140,Q,30000,70000,N,900000,20144,0,0,0,0,K,U,300000
15,16,0,1,0,1,1,339001,0,111001,0,0,0,0,0,0,0,주부,0,4900,5,1,19.0,2차산업 종사자,4400,0,0,0,0,0,0,0,0,0,6,10미만,46,1000000,0,40,340000,0,340000,0,340000,17000000,17000000,0,0,13,0,0,0,30,1,169,10,Q,60000,140000,N,500000,20142,0,0,0,0,O,U,40000
16,17,0,1,0,3,3,39001,9001,3001,0,1,121,3,61,0,0,주부,0,11000,4,2,19.0,사무직,6200,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,990000,300000,18000000,76000000,0,0,0,0,0,1,55,2,5,0,NaN,20000,0,N,0,20092,0,0,0,0,NaN,U,0
17,18,0,1,0,0,0,273001,0,273001,0,0,0,6,121,0,0,단순 노무직,3600,10600,2,2,0.0,주부,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,60000,7000000,12000000,0,0,0,300000,3,2,60,2,239,30,NaN,50000,80000,N,1000000,20102,0,0,0,0,O,U,280000
18,19,0,1,0,0,0,18001,18001,18001,0,37,0,5,121,0,0,주부,0,7400,4,1,19.0,2차산업 종사자,5600,0,0,0,0,0,0,0,0,0,2,10미만,0,0,0,0,390000,110000,390000,110000,590000,41000000,41000000,0,0,0,500000,4,1,45,2,0,106,Q,10000,20000,Y,300000,20142,0,0,0,0,K,U,30000
19,20,0,2,0,1,1,174001,42001,129001,0,25,0,2,121,0,0,3차산업 종사자,4300,11000,2,1,0.0,전문직,6800,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,40000,6000000,6000000,0,0,0,0,0,1,50,2,273,93,NaN,50000,80000,N,900000,20143,0,0,0,0,O,U,130000
20,21,0,0,0,1,1,165001,0,0,0,37,37,3,121,0,0,학생,0,0,3,1,0.0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,30000,0,30000,30000,1000000,1000000,0,0,0,0,0,0,35,1,249,395,R,70000,80000,Y,1000000,20131,0,0,0,0,K,U,0
21,22,0,0,0,1,1,108001,108001,0,0,13,13,1,1,0,0,주부,0,6000,3,2,4.0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,70000,0,490000,0,70000,6000000,30000000,0,0,0,14600000,31,0,35,2,551,487,R,50000,60000,Y,0,20122,0,0,0,0,K,U,0
22,23,0,0,0,1,1,180001,180001,0,0,25,85,0,0,0,0,*,3700,7400,5,2,NaN,*,3700,0,0,0,0,0,0,0,0,0,22,30미만,0,0,0,0,90000,0,230000,0,90000,9000000,40000000,0,0,10,200000,0,1,*,*,405,192,Q,30000,30000,Y,0,20114,0,0,0,0,K,U,0
23,24,0,0,1,2,1,51001,0,0,1,0,0,1,121,0,0,*,0,0,2,1,0.0,주부,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,9000000,9000000,0,0,0,50400000,6,0,*,*,550,280,W,40000,80000,N,800000,20102,2,80000,0,80000,O,U,470000
24,25,0,1,0,0,0,192001,0,192001,0,0,0,2,121,0,0,주부,0,4700,4,1,24.0,전문직,4300,0,0,0,0,0,0,0,0,0,23,0,0,0,0,0,0,0,0,0,30000,4000000,4000000,0,0,0,1500000,14,1,55,1,240,272,NaN,30000,30000,Y,600000,20101,0,0,0,0,K,U,0
25,26,0,1,0,0,0,27001,27001,27001,0,121,0,3,121,0,0,사무직,4700,4700,1,1,0.0,NaN,0,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0,100000,0,100000,100000,10000000,10000000,0,0,3,0,0,0,50,2,117,80,W,30000,60000,N,800000,20112,0,0,0,0,K,U,60000
26,27,0,0,0,1,1,6001,6001,0,0,0,0,3,121,0,0,고소득 전문직,8400,8400,5,2,24.0,주부,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,90000,0,90000,0,1190000,10000000,109000000,0,0,0,0,0,2,60,2,728,91,W,40000,50000,Y,1000000,20121,0,0,0,0,K,U,0
27,28,0,1,0,0,0,39001,0,39001,0,0,0,3,73,0,0,자영업,5900,9100,4,1,24.0,주부,0,0,0,0,0,0,0,0,0,0,8,10미만,71,7000000,0,10,190000,0,190000,0,190000,28000000,28000000,0,0,2,0,0,1,60,1,444,289,NaN,60000,80000,Y,900000,20143,0,0,0,0,K,U,280000
28,29,0,3,0,0,0,315001,24001,315001,0,1,0,5,121,1,129001,학생,0,10800,1,1,0.0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,80000,0,80000,0,80000,3000000,3000000,0,0,0,0,0,0,45,2,69,39,W,20000,20000,Y,0,20122,0,0,0,0,K,U,0
29,30,0,0,0,1,1,3001,3001,0,0,37,37,3,37,1,18001,3차산업 종사자,3500,3500,3,2,0.0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,80000,0,230000,0,150000,8000000,16000000,0,0,0,100000,0,0,30,1,746,314,R,70000,120000,Y,0,20133,0,0,0,0,O,U,330000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100203,102223,0,1,0,0,0,135001,0,135001,0,85,0,5,121,0,0,사무직,4300,10700,3,1,9.0,전문직,6400,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,260000,0,260000,0,260000,20000000,20000000,0,0,0,10200000,22,0,50,2,354,419,NaN,60000,80000,N,900000,20124,0,0,0,0,O,U,490000
100204,102224,0,1,0,0,0,12001,12001,12001,0,25,0,0,0,0,0,3차산업 종사자,2600,6300,1,1,0.0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,40000,0,40000,0,40000,1000000,1000000,0,0,0,0,0,0,30,2,148,36,R,40000,100000,Y,700000,20103,0,0,0,0,O,U,310000
100205,102225,0,1,0,0,0,24001,0,24001,0,0,0,4,121,0,0,단순 사무직,4000,7000,1,1,0.0,NaN,0,0,0,0,0,0,0,0,0,0,1,10미만,0,0,0,0,0,490000,0,490000,590000,21000000,21000000,1,0,1,0,0,0,35,2,152,195,R,50000,50000,N,1000000,20123,0,0,0,0,K,U,0
100206,102226,0,1,0,1,1,216001,39001,39001,0,0,37,7,121,0,0,주부,0,7200,3,1,29.0,주부,0,0,0,0,0,0,0,0,0,0,25,0,75,12000000,0,30,0,0,0,0,110000,17000000,17000000,0,0,0,0,0,2,50,2,0,0,NaN,0,0,N,0,20142,0,0,0,0,R,U,0
100207,102227,0,1,0,0,0,63001,63001,63001,0,25,0,2,121,0,0,사무직,0,2600,2,1,0.0,NaN,0,0,0,0,0,0,0,0,0,0,62,20미만,0,0,0,0,0,1190000,0,1190000,1190000,6000000,6000000,0,0,0,0,0,0,60,1,21,33,Q,20000,20000,Y,0,20132,0,0,0,0,O,U,0
100208,102228,0,1,0,0,0,9001,9001,9001,0,13,0,5,121,0,0,사무직,5000,9800,4,1,29.0,사무직,4800,0,0,0,0,0,0,0,0,0,9,10미만,74,6000000,0,20,230000,0,230000,0,590000,26000000,26000000,1,0,6,10900000,22,0,55,1,0,0,NaN,10000,20000,N,500000,20114,0,0,0,0,O,U,0
100209,102229,0,1,1,1,0,6001,6001,3001,3001,25,25,8,121,0,0,공무원,5000,9300,4,2,19.0,주부,0,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0,40000,7000000,17000000,0,0,0,24100000,13,3,45,2,768,197,R,50000,120000,N,1000000,20084,0,0,0,0,K,U,280000
100210,102230,0,0,0,1,1,3001,3001,0,0,61,61,3,121,0,0,학생,0,6700,3,1,0.0,NaN,0,0,0,0,0,0,0,0,0,0,67,90미만,0,0,0,0,90000,0,90000,0,260000,5000000,5000000,0,0,34,0,0,0,55,2,0,0,NaN,30000,0,Y,0,20161,0,0,0,0,NaN,U,0
100211,102231,0,1,1,2,1,186001,144001,141001,3001,25,25,3,121,0,0,자영업,3900,8500,4,1,24.0,사무직,4600,0,0,0,0,0,0,0,0,0,41,20미만,0,0,0,0,230000,0,230000,0,230000,3000000,3000000,0,0,1,0,0,0,50,2,0,0,NaN,10000,10000,N,0,20151,0,0,0,0,O,U,0
100212,102232,0,0,0,1,1,297001,0,0,0,0,0,3,85,0,0,주부,0,5100,4,2,34.0,1차산업 종사자,3400,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,90000,0,0,13000000,30000000,0,0,0,600000,3,1,55,2,29,26,NaN,20000,30000,N,0,20121,0,0,0,0,O,U,0
100213,102233,0,2,1,1,0,24001,6001,9001,12001,0,0,2,121,0,0,자영업,0,10400,3,1,0.0,자영업,4200,2,201103,25000000,25000000,0,0,0,4,4,17,40미만,99,6000000,9000000,20,160000,230000,160000,230000,2990000,31000000,31000000,2,0,33,2400000,8,0,60,2,328,310,R,40000,60000,Y,900000,20074,0,0,0,0,K,U,440000
100214,102234,0,0,1,1,0,6001,6001,0,6001,1,1,2,37,0,0,단순 사무직,2700,7200,3,1,0.0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,70000,0,70000,0,70000,3000000,3000000,0,0,1,0,0,0,30,1,509,202,E,50000,60000,N,0,20114,0,0,0,0,K,U,0
100215,102235,0,2,1,2,1,30001,6001,18001,3001,1,1,1,13,0,0,학생,0,7400,1,1,0.0,NaN,0,1,200305,5000000,5000000,92,0,0,0,0,2,0,100,4000000,4000000,0,0,0,0,0,40000,5000000,5000000,0,0,0,0,0,1,45,2,0,0,NaN,0,0,N,0,20141,645,0,0,0,O,S,0
100216,102236,0,1,0,0,0,1,1,1,0,1,0,2,61,0,0,사무직,4000,5900,2,1,0.0,NaN,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,50000,0,50000,0,50000,2000000,2000000,0,0,0,0,0,0,35,1,1106,302,R,60000,70000,N,900000,20134,0,0,0,0,O,U,0
100217,102237,0,1,0,0,0,105001,0,105001,0,0,0,4,109,0,0,자영업,5600,5600,3,3,0.0,NaN,0,0,0,0,0,0,0,0,0,0,5,10미만,36,4000000,0,0,300000,590000,300000,990000,1190000,40000000,109000000,0,0,6,11800000,10,1,35,1,421,461,NaN,60000,80000,Y,800000,20142,0,0,0,0,O,U,280000
100218,102238,0,1,1,3,2,6001,1,1,3001,25,121,1,61,0,0,주부,0,5200,2,2,34.0,NaN,0,2,200201,11000000,11000000,23,0,0,0,6,5,0,58,5000000,1000000,0,300000,0,490000,0,340000,34000000,36000000,0,0,0,6700000,12,0,50,2,422,0,NaN,40000,0,N,0,20134,103,0,0,0,NaN,U,100000
100219,102239,0,1,1,1,0,12001,12001,3001,6001,1,1,1,121,0,0,주부,0,10200,4,1,29.0,고소득 전문직,0,0,0,0,0,0,0,0,0,0,2,10미만,0,0,0,0,790000,0,790000,0,790000,56000000,56000000,0,0,5,12600000,25,1,55,1,2760,458,W,30000,40000,Y,1000000,20002,0,0,0,0,O,U,0
100220,102240,0,0,3,4,1,69001,0,0,9001,0,0,3,49,0,0,사무직,3400,3400,1,1,0.0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,160000,0,160000,160000,1000000,1000000,0,0,0,0,0,0,40,2,102,221,Q,20000,40000,Y,800000,20041,2,40000,0,40000,G,U,70000
100221,102241,0,0,0,1,1,12001,12001,0,0,0,0,5,121,0,0,사무직,3900,7300,2,1,0.0,3차산업 종사자,3400,0,0,0,0,0,0,0,0,0,8,20미만,91,0,2000000,100,260000,230000,260000,230000,490000,14000000,14000000,0,0,7,5700000,20,0,50,2,564,416,NaN,60000,80000,N,0,20141,0,0,0,0,O,U,220000
100222,102242,0,1,0,0,0,3001,3001,3001,0,49,0,0,0,0,0,사무직,4000,4000,2,2,0.0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,300000,0,590000,0,300000,5000000,139000000,0,0,0,63500000,0,2,25,1,291,80,Q,50000,100000,Y,1000000,20161,0,0,0,0,O,U,910000
100223,102243,0,3,1,1,0,135001,9001,117001,15001,25,0,3,109,0,0,주부,0,7000,2,1,4.0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,60000,0,60000,0,80000,2000000,2000000,0,0,0,0,0,0,40,1,76,90,NaN,40000,50000,N,300000,20151,0,0,0,0,O,U,110000
100224,102244,0,0,2,4,2,48001,45001,0,18001,37,85,0,0,0,0,전문직,5800,5800,3,2,4.0,NaN,0,0,0,0,0,0,0,0,0,0,8,0,0,0,0,0,790000,0,990000,110000,990000,14000000,36000000,0,0,14,700000,2,2,40,1,127,91,R,50000,80000,N,900000,20124,0,0,0,0,K,U,420000
100225,102245,0,0,1,1,0,1,1,0,1,25,25,1,13,0,0,사무직,5400,5400,1,1,0.0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,150000,0,150000,150000,2000000,2000000,0,0,0,0,0,0,25,1,95,219,NaN,70000,140000,Y,900000,20144,0,0,0,0,O,U,690000
100226,102246,0,0,1,1,0,1,0,0,1,0,0,3,121,0,0,*,4400,8700,3,2,NaN,*,4400,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,140000,0,190000,0,140000,18000000,22000000,0,0,0,7200000,0,0,*,*,207,378,NaN,40000,70000,Y,200000,20133,0,60000,0,70000,O,U,110000
100227,102247,0,2,0,0,0,132001,63001,132001,0,1,0,5,121,0,0,자영업,5000,5000,1,1,0.0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,140000,0,140000,0,140000,4000000,4000000,0,0,0,0,0,0,55,1,54,40,W,20000,20000,Y,0,20094,0,0,0,0,O,U,0
100228,102248,0,1,0,2,2,75001,15001,57001,0,37,109,5,121,0,0,자영업,5500,12900,3,3,34.0,자영업,0,0,0,0,0,0,0,0,0,0,1,10미만,0,0,0,0,0,990000,150000,990000,990000,58000000,70000000,0,0,1,700000,0,3,55,2,61,38,Q,20000,20000,N,0,20111,0,20000,0,0,R,U,0
100229,102249,0,2,0,0,0,54001,9001,54001,0,85,0,6,121,0,0,운전직,4600,9800,5,2,19.0,1차산업 종사자,5200,0,0,0,0,0,0,0,0,0,5,0,0,0,0,0,230000,0,230000,0,300000,37000000,45000000,0,0,0,100000,0,3,45,2,239,201,R,50000,80000,Y,900000,20134,0,0,0,0,K,U,180000
100230,102250,0,1,0,0,0,27001,27001,27001,0,1,0,2,121,0,0,자영업,4800,10400,4,2,14.0,운전직,5600,0,0,0,0,0,0,0,0,0,8,0,0,0,0,0,90000,590000,90000,590000,1190000,45000000,54000000,0,0,1,0,0,4,45,1,131,171,E,50000,20000,N,0,20141,0,0,0,0,O,U,0
100231,102251,0,0,0,1,1,57001,0,0,0,1,1,3,121,0,0,사무직,4200,4200,1,1,0.0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,40000,0,40000,0,40000,1000000,1000000,0,0,0,0,0,0,45,1,85,119,R,50000,180000,N,900000,20103,0,0,0,0,O,U,540000
100232,102252,0,1,0,0,0,18001,18001,18001,0,49,0,4,121,0,0,사무직,6000,9900,4,2,24.0,사무직,4000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,300000,0,300000,300000,22000000,29000000,0,0,0,2900000,0,2,55,2,45,12,NaN,20000,40000,N,400000,20151,0,0,0,60000,K,U,180000

# 1. target(상환여부 비율)의 확인
* label이 매우 불균형(95.7 : 4.3)한 데이터셋임을 알 수 있다

In [9]:
x = raw_data.TARGET.values
#y = raw_data.TARGET.
#sns.distplot(x, y)

target = pd.DataFrame(raw_data['TARGET'].value_counts())
t_sum = target['TARGET'].sum()
target['per'] = target['TARGET']/t_sum
target

   TARGET      per
0   95946  0.95723
1    4287  0.04277

# 2. 데이터 전처리
- 데이터의 최소값, 최대값, 평균, 분산, 상관관계 등의 특징을 파악하고 이상치를 제거하는 것이 필수적인 과정
- 데이터의 배경이나 목적에 따라 결측치 처리, 이상치 제거, 변수 재정의
- 데이터 성질에 따라 단위를 바꾸거나 명목, 서열, 구간 데이터의 형태를 변경, 혹은 일자를 기간으로 나타내는 등

## 1) nan값 확인

In [10]:
pd.DataFrame(raw_data.isnull().sum())

                       0
CUST_ID                0
TARGET                 0
BNK_LNIF_CNT           0
CPT_LNIF_CNT           0
SPART_LNIF_CNT         0
ECT_LNIF_CNT           0
TOT_LNIF_AMT           0
TOT_CLIF_AMT           0
BNK_LNIF_AMT           0
CPT_LNIF_AMT           0
CRDT_OCCR_MDIF         0
SPTCT_OCCR_MDIF        0
CRDT_CARD_CNT          0
CTCD_OCCR_MDIF         0
CB_GUIF_CNT            0
CB_GUIF_AMT            0
OCCP_NAME_G          464
CUST_JOB_INCM          0
HSHD_INFR_INCM         0
ACTL_FMLY_NUM          0
CUST_FMLY_NUM          0
LAST_CHLD_AGE       1027
MATE_OCCP_NAME_G   45709
MATE_JOB_INCM          0
CRDT_LOAN_CNT          0
MIN_CNTT_DATE          0
TOT_CRLN_AMT           0
TOT_REPY_AMT           0
CRLN_OVDU_RATE         0
CRLN_30OVDU_RATE       0
LT1Y_CLOD_RATE         0
STRT_CRDT_GRAD         0
LTST_CRDT_GRAD         0
PREM_OVDU_RATE         0
LT1Y_PEOD_RATE         0
AVG_STLN_RATE          0
STLN_REMN_AMT          0
LT1Y_STLN_AMT          0
LT1Y_SLOD_RATE         0
GDINS_MON_PREM         0
SVINS_MON_PREM         0
FMLY_GDINS_MNPREM      0
FMLY_SVINS_MNPREM      0
MAX_MON_PREM           0
TOT_PREM               0
FMLY_TOT_PREM          0
CNTT_LAMT_CNT          0
LT1Y_CTLT_CNT          0
AUTR_FAIL_MCNT         0
FYCM_PAID_AMT          0
FMLY_CLAM_CNT          0
FMLY_PLPY_CNT          0
AGE                    0
SEX                    0
AVG_CALL_TIME          0
AVG_CALL_FREQ          0
TEL_MBSP_GRAD      46015
ARPU                   0
MON_TLFE_AMT           0
CBPT_MBSP_YN           0
MOBL_FATY_PRC          0
TEL_CNTT_QTR           0
NUM_DAY_SUSP           0
CRMM_OVDU_AMT          0
TLFE_UNPD_CNT          0
LT1Y_MXOD_AMT          0
PAYM_METD           2833
LINE_STUS              0
MOBL_PRIN              0

### (1) OCCP_NAME_G

* 직업란에 '기타'가 따로 있는데 결손값이 생긴 이유는 무엇일까, 정보제공에 거부를 한 것일까, 불로소득이 있는 무직인 것인가. 
* 이 사람의 위치를 파악하기 위해 다음의 항목을 다른 사람과 비교한다
> 추정소득, 신용대출 연체율, 연령

In [9]:
check_data = raw_data[['OCCP_NAME_G', 'CUST_JOB_INCM', 'CRLN_OVDU_RATE', 'AGE']]
check_data.head()

  OCCP_NAME_G  CUST_JOB_INCM  CRLN_OVDU_RATE AGE
0         공무원           5400               0  50
1         자영업           5500               0  50
2          주부              0               0  60
3          학생              0               0  35
4         공무원           4800               0  45

In [10]:
# null포함 데이터
null_data = check_data.loc[check_data['OCCP_NAME_G'].isnull()]
null_data.describe()

       CUST_JOB_INCM  CRLN_OVDU_RATE
count     464.000000      464.000000
mean     3602.801724        0.771552
std      1707.059638        7.149708
min         0.000000        0.000000
25%      3300.000000        0.000000
50%      4000.000000        0.000000
75%      4700.000000        0.000000
max      6600.000000       99.000000

In [11]:
null_data

       OCCP_NAME_G  CUST_JOB_INCM  CRLN_OVDU_RATE AGE
180            NaN           4100               0  35
363            NaN              0               0  65
377            NaN           5200               0  45
634            NaN              0               0  60
1206           NaN           3900               0  40
1286           NaN           4500               0  45
1361           NaN              0               0  65
1417           NaN           3000               0  25
1546           NaN           3900               0  55
1620           NaN           5900               0  45
2180           NaN           4500               0  50
2189           NaN           4500               0  55
2713           NaN           4100               0  55
3568           NaN              0               0  60
3608           NaN           3900               0  60
3751           NaN              0               0  65
4297           NaN           4400               0  50
4306           NaN              0               0  50
4456           NaN           4200              72  50
4899           NaN           3400               0  35
5033           NaN           4000               0  40
5353           NaN           4400               0  45
5824           NaN           3700               0  40
5861           NaN           3600               0  30
5965           NaN           4000               0  40
6250           NaN           4600               0  40
6770           NaN           5600              47  60
6835           NaN           4700               0  40
6893           NaN           4200               0  50
7040           NaN           2600               0  55
...            ...            ...             ...  ..
95165          NaN           3400               0  60
95194          NaN              0               0  55
95259          NaN           4200               0  65
95608          NaN           4900               0  45
95779          NaN              0               0  30
95781          NaN           3400               0  35
95941          NaN           4800               0  55
95992          NaN           3300               0  35
96038          NaN           4700               0  50
96153          NaN           5400               0  45
96661          NaN           3500               0  35
96759          NaN           3500               0  40
97235          NaN              0               0  60
97258          NaN           4100               0  55
97308          NaN           5000               0  35
97507          NaN           4200               0  45
97805          NaN           3300               0  50
97917          NaN           5500               0  55
98522          NaN              0               0  65
98708          NaN           4200               0  55
98887          NaN           6200               0  55
99027          NaN           4800               0  45
99028          NaN           4500               0  40
99084          NaN           3600               0  50
99208          NaN           3700               0  35
99294          NaN           4000              35  55
99408          NaN           5500               0  55
99482          NaN           5100               0  40
99893          NaN           4000               0  55
100165         NaN           4500               0  45

[464 rows x 4 columns]

In [12]:
labels = []
 # 직업 비율 확인
for occ in check_data['OCCP_NAME_G']:
    if occ not in labels:
        labels.append(occ)
        
               
count_data = pd.DataFrame(check_data.groupby('OCCP_NAME_G').size().reset_index())

count_data['per'] = (count_data[0] / len(check_data['OCCP_NAME_G']))*100
count_data

   OCCP_NAME_G      0        per
0            *   1189   1.186236
1     1차산업 종사자   1178   1.175262
2     2차산업 종사자   9601   9.578682
3     3차산업 종사자   8275   8.255764
4      고소득 전문직   1223   1.220157
5          공무원   5091   5.079166
6     기업/단체 임원   1041   1.038580
7           기타   1672   1.668113
8       단순 노무직    821   0.819092
9       단순 사무직   4107   4.097453
10         사무직  16581  16.542456
11    예체능계 종사자    936   0.933824
12         운전직   2126   2.121058
13         자영업   9485   9.462951
14         전문직   5043   5.031277
15          주부  27565  27.500923
16          학생   3835   3.826085

- 가장 높은 비율을 차지하는 것은 주부, 그다음은 사무직, 다음은 자영업과 2차산업 종사자 임을 알 수 있다
- 낮은비율로는 예체능계,단순 노무직, 임원, 기타, 1차산업 종사자, 그리고 결손값임을 알 수 있다
<br><br>
- 또한 직업 결손값의 연체율은 전체의 평균에 비해 낮은 편이고, 연령대도 중년인 것을 보아 불로소득이 있지 않을까 추정 해 본다 (임대료 같은)

In [13]:
check_data.describe()

       CUST_JOB_INCM  CRLN_OVDU_RATE
count  100233.000000   100233.000000
mean     2788.233416        2.522213
std      2472.287102       12.153939
min         0.000000        0.000000
25%         0.000000        0.000000
50%      3600.000000        0.000000
75%      4700.000000        0.000000
max     10000.000000      100.000000

In [14]:
check_data.loc[check_data['OCCP_NAME_G']=='*']

       OCCP_NAME_G  CUST_JOB_INCM  CRLN_OVDU_RATE AGE
22               *           3700               0   *
23               *              0               0   *
103              *           4300               0  45
114              *           5100               0  50
165              *           8900               0   *
276              *           4200               0   *
288              *           3100               0   *
326              *              0               0   *
385              *           3100               0   *
498              *              0               0   *
509              *           4700               0  50
594              *           4600               0  55
601              *           5400               0  35
665              *              0               0  60
793              *              0               0  40
1225             *           4400               0  60
1378             *           4800               0  45
1485             *              0               0   *
1527             *           4500               0  50
1579             *           7900               0   *
1740             *              0               0  40
1846             *           4300               0  40
1905             *           3900               0   *
1924             *              0               0   *
1935             *           5000              12  40
1941             *           5600               0  55
1954             *              0               0   *
1986             *           4700               0   *
2238             *              0               0  40
2399             *              0               0  60
...            ...            ...             ...  ..
97637            *           5000               0  40
97780            *              0               0  60
97784            *              0               0   *
97791            *              0               0  60
97822            *              0               0  50
97824            *              0               0  65
97826            *              0               0  65
97892            *           3400               0   *
97899            *              0               0  35
97904            *              0               0  65
97928            *              0               0   *
97935            *          10000               0   *
98091            *           6000               0  55
98133            *           3900               0   *
98294            *              0               0  65
98379            *           7200               0  40
98491            *              0               0   *
98677            *           4400               0  45
98932            *           5100               0  55
98941            *           5700               0  50
99118            *              0               2  60
99155            *           9900               0  50
99234            *              0               0   *
99542            *           5500               0  55
99568            *           3700               0  40
99647            *           5100               0  50
99839            *              0               0  65
99864            *           6100               0  45
99911            *              0               0   *
100226           *           4400               0   *

[1189 rows x 4 columns]

In [15]:
check_data.loc[check_data['OCCP_NAME_G']=='*'].describe()

       CUST_JOB_INCM  CRLN_OVDU_RATE
count    1189.000000     1189.000000
mean     3236.417157        1.983179
std      2875.961724       11.530141
min         0.000000        0.000000
25%         0.000000        0.000000
50%      3900.000000        0.000000
75%      5100.000000        0.000000
max     10000.000000       92.000000

In [588]:
# 직업이 '기타'인 사람들과 비교해 본다
check_data.loc[check_data['OCCP_NAME_G']=='기타']

       OCCP_NAME_G  CUST_JOB_INCM  CRLN_OVDU_RATE AGE
94              기타              0               0  45
105             기타              0               0  60
120             기타              0               0  60
279             기타              0               0  35
366             기타              0               0  65
393             기타              0               0  40
462             기타              0               0  65
633             기타              0               0  30
744             기타              0               0  60
917             기타              0               0  65
994             기타              0               0  65
1045            기타              0               0  40
1112            기타              0               0  50
1219            기타              0               0  45
1233            기타              0               0  55
1246            기타              0               0  40
1334            기타              0               0  55
1390            기타              0               0  60
1523            기타              0               0  60
1584            기타              0               0  65
1696            기타              0               0  60
1761            기타              0               0  55
1823            기타              0               0  60
1895            기타              0              63  50
1910            기타              0               0  30
1961            기타              0               0  50
1984            기타              0               0  25
2029            기타              0               0  55
2036            기타              0               0  65
2074            기타              0               0  55
...            ...            ...             ...  ..
98422           기타              0               0  60
98526           기타              0               0  65
98568           기타              0               0  30
98607           기타              0               0  65
98623           기타              0              42  40
98633           기타              0              73  60
98666           기타              0               0  65
98930           기타              0               0  60
98946           기타              0               0  55
98960           기타              0               0  65
99081           기타              0               0  60
99115           기타              0              10  50
99271           기타              0               0  65
99272           기타              0               0  65
99275           기타              0               0  60
99351           기타              0               0  45
99435           기타              0               0  60
99470           기타              0               0  65
99497           기타              0               0  65
99517           기타              0               0  40
99521           기타              0               0  70
99583           기타              0              50  60
99738           기타              0               0  35
99761           기타              0               0  65
99845           기타              0               0  35
99940           기타              0               0  65
99977           기타              0               0  50
99998           기타              0               0  35
100000          기타              0               0  50
100163          기타              0               0  65

[1672 rows x 4 columns]

In [589]:
check_data.loc[check_data['OCCP_NAME_G']=='기타'].describe()

       CUST_JOB_INCM  CRLN_OVDU_RATE
count         1672.0     1672.000000
mean             0.0        4.131579
std              0.0       15.232471
min              0.0        0.000000
25%              0.0        0.000000
50%              0.0        0.000000
75%              0.0        0.000000
max              0.0       99.000000

* '기타'는 직업에 기반한 추정소득이 0이고, 신용대출 연체율이 전체집단보다 많이 높은 것을보아 '무직'이라고 추정할 수 있다.

In [16]:
check_data.isnull().sum()

OCCP_NAME_G       464
CUST_JOB_INCM       0
CRLN_OVDU_RATE      0
AGE                 0
dtype: int64

In [17]:
check_data['OCCP_NAME_G'].value_counts()

주부          27565
사무직         16581
2차산업 종사자     9601
자영업          9485
3차산업 종사자     8275
공무원          5091
전문직          5043
단순 사무직       4107
학생           3835
운전직          2126
기타           1672
고소득 전문직      1223
*            1189
1차산업 종사자     1178
기업/단체 임원     1041
예체능계 종사자      936
단순 노무직        821
Name: OCCP_NAME_G, dtype: int64

#### '*'와 null 을 한 집단으로 묶는다 -> '비식별'

In [19]:


check_data['OCCP_NAME_G'].fillna('비식별', inplace=True)
check_data['OCCP_NAME_G'].replace({'*':'비식별'}, inplace=True)
check_data

/Users/sherryjeon/anaconda/lib/python3.6/site-packages/pandas/core/generic.py:3549: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
/Users/sherryjeon/anaconda/lib/python3.6/site-packages/pandas/core/generic.py:3813: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

       OCCP_NAME_G  CUST_JOB_INCM  CRLN_OVDU_RATE AGE
0              공무원           5400               0  50
1              자영업           5500               0  50
2               주부              0               0  60
3               학생              0               0  35
4              공무원           4800               0  45
5         3차산업 종사자           4400               0  45
6               주부              0              81  40
7         기업/단체 임원              0               0  60
8               주부              0               0  40
9           단순 사무직           4700               0  40
10              주부              0               0  55
11              주부              0               0  40
12              학생              0               0  25
13             사무직           4700               0  40
14              학생              0               0  25
15              주부              0               0  30
16              주부              0               0  55
17          단순 노무직           3600               0  60
18              주부              0               0  45
19        3차산업 종사자           4300               0  50
20              학생              0               0  35
21              주부              0               0  35
22             비식별           3700               0   *
23             비식별              0               0   *
24              주부              0               0  55
25             사무직           4700               0  50
26         고소득 전문직           8400               0  60
27             자영업           5900               0  60
28              학생              0               0  45
29        3차산업 종사자           3500               0  30
...            ...            ...             ...  ..
100203         사무직           4300               0  50
100204    3차산업 종사자           2600               0  30
100205      단순 사무직           4000               0  35
100206          주부              0               0  50
100207         사무직              0               0  60
100208         사무직           5000               0  55
100209         공무원           5000               0  45
100210          학생              0               0  55
100211         자영업           3900               0  50
100212          주부              0               0  55
100213         자영업              0               0  60
100214      단순 사무직           2700               0  30
100215          학생              0              92  45
100216         사무직           4000               0  35
100217         자영업           5600               0  35
100218          주부              0              23  50
100219          주부              0               0  55
100220         사무직           3400               0  40
100221         사무직           3900               0  50
100222         사무직           4000               0  25
100223          주부              0               0  40
100224         전문직           5800               0  40
100225         사무직           5400               0  25
100226         비식별           4400               0   *
100227         자영업           5000               0  55
100228         자영업           5500               0  55
100229         운전직           4600               0  45
100230         자영업           4800               0  45
100231         사무직           4200               0  45
100232         사무직           6000               0  55

[100233 rows x 4 columns]

In [20]:
copy_data['OCCP_NAME_G'] = check_data['OCCP_NAME_G']

### (2) LAST_CHLD_AGE 
* 막내자녀 생일

In [21]:
print ("nan 의 개수는 {}".format(copy_data['LAST_CHLD_AGE'].isnull().sum()))
print (copy_data['LAST_CHLD_AGE'].value_counts())

nan 의 개수는 1027
0.0     50125
24.0    10774
19.0     9651
29.0     7905
14.0     5801
34.0     5600
39.0     4297
9.0      2862
44.0     1221
4.0       544
49.0      330
54.0       46
60.0       33
59.0       17
Name: LAST_CHLD_AGE, dtype: int64

* 중요한 값이 아니고, 추정 근거가 없으므로 0으로 채운다 (자녀가 없다고 볼 수 있을 듯)

In [22]:
copy_data['LAST_CHLD_AGE'].fillna(0, inplace=True)

### (3) MATE_OCCP_NAME_G
* 배우자의 직엄
* 본인의 직업과 마찬가지로 NUll과 *이 따로 표기되어 있다

In [23]:
print (copy_data['MATE_OCCP_NAME_G'].value_counts())
print ("결손값의 개수 {}".format(copy_data['MATE_OCCP_NAME_G'].isnull().sum()))

주부          11683
사무직         10053
2차산업 종사자     8107
자영업          6380
3차산업 종사자     4011
운전직          2887
공무원          2400
전문직          2105
1차산업 종사자     1411
단순 사무직       1316
*            1027
기업/단체 임원      931
고소득 전문직       560
단순 노무직        549
기타            534
예체능계 종사자      461
학생            109
Name: MATE_OCCP_NAME_G, dtype: int64
결손값의 개수 45709

In [24]:
print ('결손값의 비율은 {}'. format(((copy_data['MATE_OCCP_NAME_G'].isnull().sum())/len(copy_data['MATE_OCCP_NAME_G'])*100)))

결손값의 비율은 45.60274560274561

* 배우자 직업이 없는 것은 미혼으로 볼 수 있는 것인지 하기 항목과 함께 본다
* 배우자 추정소득, 실 가족원수, 연령

In [25]:
check_data = copy_data[['MATE_OCCP_NAME_G', 'MATE_JOB_INCM', 'ACTL_FMLY_NUM','AGE']]
check_data.loc[check_data['MATE_OCCP_NAME_G'].isnull()].describe()

       MATE_JOB_INCM  ACTL_FMLY_NUM
count   45709.000000   45709.000000
mean       35.734757       1.846726
std       406.279763       0.947748
min         0.000000       1.000000
25%         0.000000       1.000000
50%         0.000000       2.000000
75%         0.000000       3.000000
max      8400.000000       7.000000

* 결손값의 실 가족구성원을 봤을 때 미혼으로 처리할 수 있을 것 같다

In [26]:
check_data['MATE_OCCP_NAME_G'].fillna('미혼', inplace=True)
check_data

/Users/sherryjeon/anaconda/lib/python3.6/site-packages/pandas/core/generic.py:3549: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

       MATE_OCCP_NAME_G  MATE_JOB_INCM  ACTL_FMLY_NUM AGE
0                    주부              0              4  50
1                    주부              0              4  50
2              2차산업 종사자              0              4  60
3                    미혼              0              2  35
4                    주부              0              4  45
5                단순 사무직           3300              2  45
6              2차산업 종사자           4400              5  40
7                   사무직           5000              3  60
8                   전문직           5400              4  40
9              기업/단체 임원           7500              4  40
10                  자영업           6200              3  55
11                  전문직           5300              2  40
12                   미혼              0              3  25
13                   미혼              0              2  40
14                   미혼              0              3  25
15             2차산업 종사자           4400              5  30
16                  사무직           6200              4  55
17                   주부              0              2  60
18             2차산업 종사자           5600              4  45
19                  전문직           6800              2  50
20                   미혼              0              3  35
21                   미혼              0              3  35
22                    *           3700              5   *
23                   주부              0              2   *
24                  전문직           4300              4  55
25                   미혼              0              1  50
26                   주부              0              5  60
27                   주부              0              4  60
28                   미혼              0              1  45
29                   미혼              0              3  30
...                 ...            ...            ...  ..
100203              전문직           6400              3  50
100204               미혼              0              1  30
100205               미혼              0              1  35
100206               주부              0              3  50
100207               미혼              0              2  60
100208              사무직           4800              4  55
100209               주부              0              4  45
100210               미혼              0              3  55
100211              사무직           4600              4  50
100212         1차산업 종사자           3400              4  55
100213              자영업           4200              3  60
100214               미혼              0              3  30
100215               미혼              0              1  45
100216               미혼              0              2  35
100217               미혼              0              3  35
100218               미혼              0              2  50
100219          고소득 전문직              0              4  55
100220               미혼              0              1  40
100221         3차산업 종사자           3400              2  50
100222               미혼              0              2  25
100223               미혼              0              2  40
100224               미혼              0              3  40
100225               미혼              0              1  25
100226                *           4400              3   *
100227               미혼              0              1  55
100228              자영업              0              3  55
100229         1차산업 종사자           5200              5  45
100230              운전직           5600              4  45
100231               미혼              0              1  45
100232              사무직           4000              4  55

[100233 rows x 4 columns]

In [27]:
check_data.loc[check_data['MATE_OCCP_NAME_G']=='*'].describe()

       MATE_JOB_INCM  ACTL_FMLY_NUM
count    1027.000000    1027.000000
mean     3046.153846       3.399221
std      2777.869994       1.079816
min         0.000000       2.000000
25%         0.000000       3.000000
50%      3900.000000       3.000000
75%      5000.000000       4.000000
max     10000.000000       7.000000

In [28]:
check_data.loc[check_data['MATE_OCCP_NAME_G']=='기타'].describe()

       MATE_JOB_INCM  ACTL_FMLY_NUM
count     534.000000     534.000000
mean       45.505618       3.383895
std       470.328242       1.064788
min         0.000000       2.000000
25%         0.000000       2.000000
50%         0.000000       3.000000
75%         0.000000       4.000000
max      5600.000000       7.000000

* 기타와 *를 비교해 보았을 때 기타는 무직일 가능성이 높고, *은 비식별로 바꾸어야 할 것 같다

In [29]:
check_data['MATE_OCCP_NAME_G'].replace({'*':'비식별'}, inplace=True)

copy_data['MATE_OCCP_NAME_G'] = check_data['MATE_OCCP_NAME_G']

/Users/sherryjeon/anaconda/lib/python3.6/site-packages/pandas/core/generic.py:3813: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

### (4)TEL_MBSP_GRAD
* 멤버쉽 등급

In [30]:
print (copy_data['TEL_MBSP_GRAD'].value_counts())
print ("결손값 개수:{}".format(copy_data['TEL_MBSP_GRAD'].isnull().sum()))

R    19862
W    16692
Q    13641
E     4023
Name: TEL_MBSP_GRAD, dtype: int64
결손값 개수:46015

* skt 멤버쉽은 4단계로 나누어져 있는데 반정도의 결손값은 일반등급이거나, 현재 아직 등급이 생성되지 않았다고 판단, none의 N으로 채운다

In [31]:
copy_data['TEL_MBSP_GRAD'].fillna('N', inplace=True)

### (5) PAYM_METD
* 납부방법

In [32]:
print(copy_data['PAYM_METD'].value_counts())
print ("결손값개수 :{}".format(copy_data['PAYM_METD'].isnull().sum()))

O    56919
K    32364
G     4541
R     3576
Name: PAYM_METD, dtype: int64
결손값개수 :2833

* 카테고리 변수는 추정할 수 없으므로 'N'으로 치환한다

In [33]:
copy_data['PAYM_METD'].fillna('N', inplace=True)

### (6) AGE
* 나이

In [34]:
print (copy_data['AGE'].isnull().sum())
print (copy_data['AGE'].value_counts())

0
45    19052
50    17734
55    15321
40    14807
35    12003
60     9190
30     5268
65     3584
25     2201
*       430
70      403
20      240
Name: AGE, dtype: int64

* 결손값은 평균으로 채울 수 있다

In [35]:
for_mean= list(filter(lambda x: x !='*', copy_data['AGE']))
age_count = len(for_mean)
from functools import reduce
#for_mean = reduce((lambda x, y:x+y), for_mean)

for_mean=list(map(int, for_mean))
for_mean = reduce((lambda x, y:x+y), for_mean)
age_mean = int(for_mean/age_count) # 다른 값들이 정수형이기 때문에 정수형으로 계산한다
print ("*을 제외한 나이의 평균: {}".format(age_mean))

*을 제외한 나이의 평균: 46

In [36]:
copy_data['AGE'].replace({'*':age_mean}, inplace=True)

### (7) SEX
* 비식별 정보를 추정할 수 있는 보조변수로 하기의 변수를 함께 본다
* 직업, 배우자직업, 연봉

In [37]:
copy_data['SEX'].value_counts()

2    54490
1    45313
*      430
Name: SEX, dtype: int64

In [38]:
check_data = copy_data[['SEX', 'OCCP_NAME_G', 'MATE_OCCP_NAME_G', 'CUST_JOB_INCM']]
print ("추정 소득의 기술통계량 \n:{}".format(copy_data['CUST_JOB_INCM'].describe()))

추정 소득의 기술통계량
:count    100233.000000
mean       2788.233416
std        2472.287102
min           0.000000
25%           0.000000
50%        3600.000000
75%        4700.000000
max       10000.000000
Name: CUST_JOB_INCM, dtype: float64

In [39]:
check_data.head(10)

  SEX OCCP_NAME_G MATE_OCCP_NAME_G  CUST_JOB_INCM
0   1         공무원               주부           5400
1   1         자영업               주부           5500
2   2          주부         2차산업 종사자              0
3   1          학생               미혼              0
4   1         공무원               주부           4800
5   1    3차산업 종사자           단순 사무직           4400
6   2          주부         2차산업 종사자              0
7   1    기업/단체 임원              사무직              0
8   2          주부              전문직              0
9   1      단순 사무직         기업/단체 임원           4700

* 편견이 들어가기는 하지만, 전체 소득의 중앙값보다 적으면 여자, 많으면 남자로 구분한다 (대신 추정소득이 3600이하인 사람 중, 배우자의 직업이 주부인 사람은 남자로 구분한다)
* 직업이나 배우자 직업도 거의 비식별 처리가 되었기 때문이다

In [41]:
check_list1 = check_data['SEX'].tolist()
check_list2 = check_data['CUST_JOB_INCM'].tolist()
check_list3 = check_data['MATE_OCCP_NAME_G'].tolist()

for i, val in enumerate(check_list1): # 인덱스와 값을 가져옴
    if val == '*':
        if check_list2[i]>3600:
            check_list1[i] = '1'
        elif check_list3[i] =='주부':
            check_list1[i] = '1'
        else:
            check_list1[i] = '2'
            
        
check_data['SEX'] = check_list1
#check_data['SEX'] = check_data['SEX'][check_data.CUST_JOB_INCM.values>3600].replace({'*':1})
#check_data['SEX'] = check_data['SEX'][check_data.MATE_OCCP_NAME_G=='주부'].replace({'*':1})
#check_data['SEX'].replace({'*':2}, inplace=True)

/Users/sherryjeon/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [42]:
check_data['SEX'].value_counts()

2    54719
1    45514
Name: SEX, dtype: int64

In [43]:
copy_data['SEX'] = check_data['SEX']

## 2) 질적변수 처리
* 카테고리변수, 구간변수, 일자 혹은 시간은 기간으로

### (1) 시간, 일자 
* MIN_CNTT_DATE : 한화 생명의 최초 대출날짜 (최초의 신용대출 년월)
* CTCD_OCCR_MDIF : 신카 개설일로부터 유지개월수
* CRDT_OCCR_MDIF : 신용대출 최근 개설일로부터 현재까지 유지 개월수
* SPTCT_OCCR_MDIF : 2산업분류 신용대출계좌 유지개월수
* TEL_CNTT_QTR : 가입년월 분기 (분기는 3을 곱해서 격차를 주는 걸로 한다)

#### MIN_CNTT_DATE

In [44]:
check_data = copy_data [['MIN_CNTT_DATE', 'CTCD_OCCR_MDIF', 'CRDT_OCCR_MDIF','SPTCT_OCCR_MDIF' ]]

In [45]:
check_data.head(10)

   MIN_CNTT_DATE  CTCD_OCCR_MDIF  CRDT_OCCR_MDIF  SPTCT_OCCR_MDIF
0              0              13               1                0
1              0             121               0                0
2              0             121               1               25
3              0              61               1               25
4              0              97               1                0
5              0             121               1                1
6         200106             121             121              121
7              0             121               1                0
8              0             121              37                0
9              0              25               1                1

In [46]:
check_data.MIN_CNTT_DATE.value_counts()

0         90366
200103      202
200102      201
200208      200
200207      196
200109      194
200112      182
200101      176
200210      176
200108      172
200206      170
200205      161
200111      160
200106      160
200107      157
200203      151
200211      150
200110      147
200209      142
200212      137
200204      132
200202      130
200104      128
200304      127
200012      122
200201      119
200105      118
200305      107
200303       93
200301       93
          ...
200907       18
200901       17
200505       17
201405       17
200509       17
200412       17
201604       17
200902       16
200906       16
200904       16
201408       16
200504       16
200007       16
200003       15
200701       15
200510       15
200905       15
200401       14
200501       13
200006       13
200507       13
199910       12
200707       12
200702       10
199911        8
199912        8
200001        7
200002        6
200604        6
200004        3
Name: MIN_CNTT_DATE, Length: 201, dtype: int64

* 보험사의 신용대출이기 때문에 1/10 정도밖에 기록이 없다. 또한 은행권과 다르게 보험사의 신용대출이 긍정적인 점수를 매길 것이라 생각하지 않는다. 일단 관계를 살펴봐야 하므로 현재까지로 개월수를 바꾼다.

In [47]:
#현재시간
from datetime import datetime
cur_year = datetime.today().year
cur_mon = datetime.today().month
cur = (cur_year*12) + cur_mon
cur # 이 값을 기준으로 한다

24214

In [48]:
#데이터의 연월을 변환
check_data['MIN_CNTT_DATE']=pd.DataFrame(((check_data['MIN_CNTT_DATE'].values/100).astype(int)) * 12 + (check_data['MIN_CNTT_DATE'].values%100))

/Users/sherryjeon/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [49]:
check_data_list = check_data['MIN_CNTT_DATE'].tolist()

In [50]:
#cur-check_data.loc[check_data.MIN_CNTT_DATE!=0]
for i,val in enumerate(check_data_list):
    if val != 0:
        check_data_list[i] = cur-val
        
check_data.loc[:,'MIN_CNTT_DATE']= pd.DataFrame(check_data_list)
#check_data['MIN_CNTT_DATE']=pd.DataFrame(check_data_list)

/Users/sherryjeon/anaconda/lib/python3.6/site-packages/pandas/core/indexing.py:601: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item_labels[indexer[info_axis]]] = value

In [51]:
copy_data['MIN_CNTT_DATE_duration'] = check_data['MIN_CNTT_DATE']

#### TEL_CNTT_QTR

In [52]:

check_data = pd.DataFrame(copy_data['TEL_CNTT_QTR'])

#데이터의 연월을 변환
check_data['TEL_CNTT_QTR']=pd.DataFrame(((check_data['TEL_CNTT_QTR'].values/10).astype(int)) * 12 + ((check_data['TEL_CNTT_QTR'].values%10)*3))

In [53]:
check_data_list = check_data['TEL_CNTT_QTR'].tolist()
#cur-check_data.loc[check_data.MIN_CNTT_DATE!=0]
for i,val in enumerate(check_data_list):
    if val != 0:
        check_data_list[i] = cur-val
        
check_data.loc[:,'TEL_CNTT_QTR']= pd.DataFrame(check_data_list)
check_data.head()
#check_data['MIN_CNTT_DATE']=pd.DataFrame(check_data_list)

   TEL_CNTT_QTR
0            79
1            37
2            85
3            34
4            55

In [54]:
copy_data['TEL_CNTT_QTR_duration'] = check_data['TEL_CNTT_QTR']

### (3) LT1Y_PEOD_RATE

In [55]:
check_data = copy_data['LT1Y_PEOD_RATE'].tolist()

In [57]:
for i, val in enumerate(check_data):
    if val != 0:
        check_data[i] = int(check_data[i][:2])
temp = pd.DataFrame(check_data)

In [58]:
temp.rename(columns={0:'LT1Y_PEOD_RATE'}, inplace=True)
temp.head()

   LT1Y_PEOD_RATE
0              20
1               0
2               0
3               0
4               0

In [59]:
copy_data['LT1Y_PEOD_RATE'] = temp
copy_data.head()

,CUST_ID,TARGET,BNK_LNIF_CNT,CPT_LNIF_CNT,SPART_LNIF_CNT,ECT_LNIF_CNT,TOT_LNIF_AMT,TOT_CLIF_AMT,BNK_LNIF_AMT,CPT_LNIF_AMT,CRDT_OCCR_MDIF,SPTCT_OCCR_MDIF,CRDT_CARD_CNT,CTCD_OCCR_MDIF,CB_GUIF_CNT,CB_GUIF_AMT,OCCP_NAME_G,CUST_JOB_INCM,HSHD_INFR_INCM,ACTL_FMLY_NUM,CUST_FMLY_NUM,LAST_CHLD_AGE,MATE_OCCP_NAME_G,MATE_JOB_INCM,CRDT_LOAN_CNT,MIN_CNTT_DATE,TOT_CRLN_AMT,TOT_REPY_AMT,CRLN_OVDU_RATE,CRLN_30OVDU_RATE,LT1Y_CLOD_RATE,STRT_CRDT_GRAD,LTST_CRDT_GRAD,PREM_OVDU_RATE,LT1Y_PEOD_RATE,AVG_STLN_RATE,STLN_REMN_AMT,LT1Y_STLN_AMT,LT1Y_SLOD_RATE,GDINS_MON_PREM,SVINS_MON_PREM,FMLY_GDINS_MNPREM,FMLY_SVINS_MNPREM,MAX_MON_PREM,TOT_PREM,FMLY_TOT_PREM,CNTT_LAMT_CNT,LT1Y_CTLT_CNT,AUTR_FAIL_MCNT,FYCM_PAID_AMT,FMLY_CLAM_CNT,FMLY_PLPY_CNT,AGE,SEX,AVG_CALL_TIME,AVG_CALL_FREQ,TEL_MBSP_GRAD,ARPU,MON_TLFE_AMT,CBPT_MBSP_YN,MOBL_FATY_PRC,TEL_CNTT_QTR,NUM_DAY_SUSP,CRMM_OVDU_AMT,TLFE_UNPD_CNT,LT1Y_MXOD_AMT,PAYM_METD,LINE_STUS,MOBL_PRIN,MIN_CNTT_DATE_duration,TEL_CNTT_QTR_duration
0,1,0,1,0,0,0,9001,9001,9001,0,1,0,2,13,3,420001,공무원,5400,7700,4,1,24.0,주부,0,0,0,0,0,0,0,0,0,0,12,20,0,0,0,0,190000,0,190000,0,190000,20000000,20000000,0,0,10,0,0,0,50,1,450,493,N,30000,80000,N,800000,20111,0,0,0,0,O,U,580000,0,79
1,2,0,1,0,0,0,24001,0,24001,0,0,0,2,121,0,0,자영업,5500,8100,4,2,29.0,주부,0,0,0,0,0,0,0,0,0,0,13,0,0,0,0,0,0,0,110000,0,0,7000000,36000000,0,0,0,300000,2,5,50,1,81,22,N,30000,40000,N,500000,20143,0,0,0,0,O,U,90000,0,37
2,3,0,0,1,3,2,15001,9001,0,3001,1,25,4,121,0,0,주부,0,4900,4,1,34.0,2차산업 종사자,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,100000,11000000,11000000,0,0,0,0,0,2,60,2,139,17,N,30000,40000,Y,500000,20103,0,0,0,0,O,U,120000,0,85
3,4,1,0,2,4,2,6001,3001,0,3001,1,25,4,61,0,0,학생,0,10100,2,1,0.0,미혼,0,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0,0,4000000,4000000,0,0,0,0,0,1,35,1,1118,0,N,30000,80000,N,900000,20144,0,540000,0,630000,G,S,320000,0,34
4,5,0,4,0,0,0,21001,15001,21001,0,1,0,1,97,0,0,공무원,4800,4800,4,1,14.0,주부,0,0,0,0,0,0,0,0,0,0,0,0,95,2000000,0,0,0,0,0,0,300000,4000000,4000000,0,0,0,500000,2,1,45,1,396,354,W,50000,80000,Y,800000,20131,0,130000,0,90000,G,U,410000,0,55

## 3) 변수간의 관계 파악

### (1) 변수의 종류

#### continuous features ( 연속형)
1 금액관련 변수 <br>
1) TOT_LNIF_AMT: 산출일 기준 총 대출금액 <br>
2) TOT_CLIF_AMT : 산출일 기준 총 신용 대출금액(천원)<br>
3) BNK_LNIF_AMT : 은행권 대출 금액 (천원) - 긍정 <br>
4) CPT_LNIF_AMT : 카드,할부, 캐피탈 대출 금액 (천원) - 부정 <br>
5) CB_GUIF_AMT : 보증총금액 (서울보증보험)(천원) - 일반적으로 담보  <br>
6) CUST_JOB_INCM : 직업정보기반 추정소득 (만원) <br>
7) HSHD_INFR_INCM : 가구추정소득, 가계 합산  (만원) <br>
8) MATE_JOB_INCM : 직업, 주소기반 추정의 배우자 추정소득(만원) <br>
9) TOT_CRLN_AMT : 한화생명 신용대출 금액 (원)<br>
10) TOT_REPY_AMT : 한화생명 신용 상환금액 (원) <br>
11) STLN_REMN_AMT : 약관대출 가능금액 (실제 약관대출 실행한 금액제외, 가능한 잔액)(원)<br>
12) LT1Y_STLN_AMT : 최근1년 약대금액(약대받은금액) (원) <br>
13) GDINS_MON_PREM : 비연금저축월납입 보험료(보장성 월납환산-일시납제외)(원) <br>
14) SVINS_MON_PREM : 연금(저축성월납환산-일시납제외) (원)<br>
15) FMLY_GDINS_MNPREM : 가계합산기준 보장성 월납환산(원) <br>
16) FMLY_SVINS_MNPREM : 가계합산 저축성 월납(원)<br>
17) MAX_MON_PREM : 최대 월 납입보험료(기준일 이전납입한 월 납입 보험료 중 최대보험료(원) <br>
18) TOT_PREM : 기 납입보험료(유효한 계약의 총 납입보험료) (원) <br>
19) FMLY_TOT_PREM : 가구기납입 보험료 (가계합산 기준 유효한 계약 총 납입보험료)(원) <br>
20) FYCM_PAID_AMT : 가고 총 지급 보험금액 (가계합산)(원) <br>
21) ARPU : 가입자매출(월기준 회선당 평균수익금, 음수면 -1)(원) 통신사 수익인듯 <br> 
22) MON_TLFE_AMT : 납부요금(월기준 서비스 납부요금)(원) <br>
23) MOBL_FATY_PRC : 단말기가격(원) <br>
24) CRMM_OVDU_AMT :당월 연체금액(해당월 납부요금 연체금액)(원)<br>
25) LT1Y_MXOD_AMT : 년간 최대 연체금액(납부요금 연체금액 중 최대 연체금액)(원)<br>
26) MOBL_PRIN : 남은 할부금 (원) <br>

2 건수 <br>
1) BNK_LNIF_CNT : 은행권 대출건수 <br>
2) CPT_LNIF_CNT: 카드사/할부사/캐피탈 대출건수 <br>
3) SPART_LNIF_CNT : 2산업분류 대출건수 <br>
4) ECT_LNIF_CNT : 기타 금융권 대출건수 <br>
5) CRDT_OCCR_MDIF : 신용대출 최근 개설일부터 유지개월수 <br>
6) SPTCT_OCCR_MDIF : 2산업분류 신용대출계좌 유지개월수 <br>
7) CRDT_CARD_CNT : 신용카드 발급수 <br>
8) CTCD_OCCR_MDIF : 신용카드 개설일부터 유지개월수 <br>
9) CB_GUIF_CNT: 보증 총 건수(서울보증보험) <br>
10) ACTL_FMLY_NUM: 실 가족원수 <br>
11) CUST_FMLY_NUM : 보험가입 가족원수 <br>
12) CRDT_LOAN_CNT  : 한화생명 신용대출건수  <br>
13) CNTT_LAMT_CNT : 실효해지건수(계약해지, 또는 실효난 계약건수 ) <br>
14) LT1Y_CTLT_CNT : 최근 1년 실효해지건수 <br>
15) AUTR_FAIL_MCNT :  자동이체 실패월수 <br>
16) FMLY_CLAM_CNT: 가구 총 보험금 청구건수 <br>
17) FMLY_PLPY_CNT : 가구 만기완납 경험횟수 <br>


<br><br>
3 비율 <br>
1) CRLN_OVDU_RATE : 한화생명 신용대출 연체율 (경과월수 중 연체경험월수 비율) <br>
2) CRLN_30OVDU_RATE : 30일이내 연체경험월 / 30일이내 신용대출월수 * 100 <br>
3) LT1Y_CLOD_RATE : 최근1년 신용대출 연체율 (최근1년 연체경험월 / 최근 1년 신용대출월) *100 <br>
4) PREM_OVDU_RATE : 보험료 연체율 (연체보험횟수 / 총납입 보험횟수) <br>
5) LT1Y_PEOD_RATE : 최근1년 보헌료 연체율 (최근 1년 연체납입횟수 / 총 납입횟수) * 100 <br>
6) AVG_STLN_RATE : 평균약대율 (월별 약관대출 금액 중 약관대출 받은 금액의 비율의 연중평균) <br>
7) LT1Y_SLOD_RATE : 최근1년 약대 연체율 (약관대출 연체경험월수 / 1년약관대출월수)*100<br>


<br><br>
4 등급<br>
1) STRT_CRDT_GRAD : 최초신용등급(가장 오래된 대출시점의 신용등급) <br>
2) LTST_CRDT_GRAD : 최근 신용등급(가장 최근시점 신용등급) <br>

5 특성  <br>
1) ACTL_FMLY_NUM: 막내자녀 나이 <br>
2) AGE : 나이 <br>

<br><br>
6 통신
1) AVG_CALL_TIME: 월 통화시간(월평균 통화시간 분단위) <br>
2) AVG_CALL_FREQ : 월 통화빈도(월평균 통화횟수) <br>
3) NUM_DAY_SUSP : 정지일수(회선의 사용정지일수) <br>
4) TLFE_UNPD_CNT : 납부일 미준수 횟수(핸드폰 납부요금의 납입일 미준수 횟수) <br>
<br><br>
7 기간<br>
1) MIN_CNTT_DATE : 한화생명 최초 신용대출 날짜
2) TEL_CNTT_QTR : SKT가입년월_분기

#### categorical features ( 질적)
1) OCCP_NAME_G : 직업 <br>
2) MATE_OCCP_NAME_G: 배우자 직업<br>
3) SEX : 성별<br>
4) TEL_MBSP_GRAD : 통신사 멤버쉽 등급<br>
5) CBPT_MBSP_YN : 통신사 결합상품 가입여부 <br>
6) PAYM_METD : 통신요금 납부방법 <br>
7) LINE_STUS : 현재 회선상태 <br>

#### 대출금액 -raw
* 'TOT_LNIF_AMT','TOT_CLIF_AMT','BNK_LNIF_AMT', 'CPT_LNIF_AMT'
* 'CB_GUIF_AMT', 'TOT_CRLN_AMT', 'TOT_REPY_AMT', 'LT1Y_STLN_AMT','MOBL_PRIN', 'STLN_REMN_AMT '

* 데이터가 밀집되어 이상치의 수가 줄어든 것을 볼 수 있다

### (2) 단위 맞추기
1) TOT_LNIF_AMT: 산출일 기준 총 대출금액 <br>
2) TOT_CLIF_AMT : 산출일 기준 총 신용 대출금액(천원)<br>
3) BNK_LNIF_AMT : 은행권 대출 금액 (천원) - 긍정 <br>
4) CPT_LNIF_AMT : 카드,할부, 캐피탈 대출 금액 (천원) - 부정 <br>
5) CB_GUIF_AMT : 보증총금액 (서울보증보험)(천원) - 일반적으로 담보  <br>
6) CUST_JOB_INCM : 직업정보기반 추정소득 (만원) <br>
7) HSHD_INFR_INCM : 가구추정소득, 가계 합산  (만원) <br>
8) MATE_JOB_INCM : 직업, 주소기반 추정의 배우자 추정소득(만원) <br>
9) TOT_CRLN_AMT : 한화생명 신용대출 금액 (원)<br>
10) TOT_REPY_AMT : 한화생명 신용 상환금액 (원) <br>
11) STLN_REMN_AMT : 약관대출 가능금액 (실제 약관대출 실행한 금액제외, 가능한 잔액)(원)<br>
12) LT1Y_STLN_AMT : 최근1년 약대금액(약대받은금액) (원) <br>
13) GDINS_MON_PREM : 비연금저축월납입 보험료(보장성 월납환산-일시납제외)(원) <br>
14) SVINS_MON_PREM : 연금(저축성월납환산-일시납제외) (원)<br>
15) FMLY_GDINS_MNPREM : 가계합산기준 보장성 월납환산(원) <br>
16) FMLY_SVINS_MNPREM : 가계합산 저축성 월납(원)<br>
17) MAX_MON_PREM : 최대 월 납입보험료(기준일 이전납입한 월 납입 보험료 중 최대보험료(원) <br>
18) TOT_PREM : 기 납입보험료(유효한 계약의 총 납입보험료) (원) <br>
19) FMLY_TOT_PREM : 가구기납입 보험료 (가계합산 기준 유효한 계약 총 납입보험료)(원) <br>
20) FYCM_PAID_AMT : 가고 총 지급 보험금액 (가계합산)(원) <br>
21) ARPU : 가입자매출(월기준 회선당 평균수익금, 음수면 -1)(원) 통신사 수익인듯 <br> 
22) MON_TLFE_AMT : 납부요금(월기준 서비스 납부요금)(원) <br>
23) MOBL_FATY_PRC : 단말기가격(원) <br>
24) CRMM_OVDU_AMT :당월 연체금액(해당월 납부요금 연체금액)(원)<br>
25) LT1Y_MXOD_AMT : 년간 최대 연체금액(납부요금 연체금액 중 최대 연체금액)(원)<br>
26) MOBL_PRIN : 남은 할부금 (원) <br>

#### 단위는 '원'으로 통일한다

In [60]:
#천원 -> 원
loan_feature_1 = ['TOT_LNIF_AMT','TOT_CLIF_AMT','BNK_LNIF_AMT',\
                  'CPT_LNIF_AMT', 'CB_GUIF_AMT']
check_data = copy_data[loan_feature_1]
loan_feature_1_unit = ["unit_{}".format(i) for i in loan_feature_1 ] 


for i,j in zip(loan_feature_1, loan_feature_1_unit):
    #check_data = check_data.assign(j = lambda x: (x[i])*1000)
    if check_data[i].bool != False:
        newcol = (check_data[i])*1000
        check_data[j] = newcol

/Users/sherryjeon/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [62]:
#로그변환

loan_feature_1_unit_log = ["log_{}".format(i) for i in loan_feature_1_unit ] 

# 기존의 데이터에 log 를 취한 column생성


    
for i in loan_feature_1_unit:
    v = 'log_'+i
    check_data[v] = np.log(check_data[i]+1)

/Users/sherryjeon/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [63]:
#로그변환 취한 데이터를 copy_data에 적용
copy_data[loan_feature_1_unit_log] = check_data[loan_feature_1_unit_log]

In [64]:
#단위 변경 데이터를 적용한다
copy_data[loan_feature_1] = check_data[loan_feature_1_unit]

In [65]:
copy_data.head()

,CUST_ID,TARGET,BNK_LNIF_CNT,CPT_LNIF_CNT,SPART_LNIF_CNT,ECT_LNIF_CNT,TOT_LNIF_AMT,TOT_CLIF_AMT,BNK_LNIF_AMT,CPT_LNIF_AMT,CRDT_OCCR_MDIF,SPTCT_OCCR_MDIF,CRDT_CARD_CNT,CTCD_OCCR_MDIF,CB_GUIF_CNT,CB_GUIF_AMT,OCCP_NAME_G,CUST_JOB_INCM,HSHD_INFR_INCM,ACTL_FMLY_NUM,CUST_FMLY_NUM,LAST_CHLD_AGE,MATE_OCCP_NAME_G,MATE_JOB_INCM,CRDT_LOAN_CNT,MIN_CNTT_DATE,TOT_CRLN_AMT,TOT_REPY_AMT,CRLN_OVDU_RATE,CRLN_30OVDU_RATE,LT1Y_CLOD_RATE,STRT_CRDT_GRAD,LTST_CRDT_GRAD,PREM_OVDU_RATE,LT1Y_PEOD_RATE,AVG_STLN_RATE,STLN_REMN_AMT,LT1Y_STLN_AMT,LT1Y_SLOD_RATE,GDINS_MON_PREM,SVINS_MON_PREM,FMLY_GDINS_MNPREM,FMLY_SVINS_MNPREM,MAX_MON_PREM,TOT_PREM,FMLY_TOT_PREM,CNTT_LAMT_CNT,LT1Y_CTLT_CNT,AUTR_FAIL_MCNT,FYCM_PAID_AMT,FMLY_CLAM_CNT,FMLY_PLPY_CNT,AGE,SEX,AVG_CALL_TIME,AVG_CALL_FREQ,TEL_MBSP_GRAD,ARPU,MON_TLFE_AMT,CBPT_MBSP_YN,MOBL_FATY_PRC,TEL_CNTT_QTR,NUM_DAY_SUSP,CRMM_OVDU_AMT,TLFE_UNPD_CNT,LT1Y_MXOD_AMT,PAYM_METD,LINE_STUS,MOBL_PRIN,MIN_CNTT_DATE_duration,TEL_CNTT_QTR_duration,log_unit_TOT_LNIF_AMT,log_unit_TOT_CLIF_AMT,log_unit_BNK_LNIF_AMT,log_unit_CPT_LNIF_AMT,log_unit_CB_GUIF_AMT
0,1,0,1,0,0,0,9001000,9001000,9001000,0,1,0,2,13,3,420001000,공무원,5400,7700,4,1,24.0,주부,0,0,0,0,0,0,0,0,0,0,12,20,0,0,0,0,190000,0,190000,0,190000,20000000,20000000,0,0,10,0,0,0,50,1,450,493,N,30000,80000,N,800000,20111,0,0,0,0,O,U,580000,0,79,16.012846,16.012846,16.012846,0.000000,19.855768
1,2,0,1,0,0,0,24001000,0,24001000,0,0,0,2,121,0,0,자영업,5500,8100,4,2,29.0,주부,0,0,0,0,0,0,0,0,0,0,13,0,0,0,0,0,0,0,110000,0,0,7000000,36000000,0,0,0,300000,2,5,50,1,81,22,N,30000,40000,N,500000,20143,0,0,0,0,O,U,90000,0,37,16.993606,0.000000,16.993606,0.000000,0.000000
2,3,0,0,1,3,2,15001000,9001000,0,3001000,1,25,4,121,0,0,주부,0,4900,4,1,34.0,2차산업 종사자,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,100000,11000000,11000000,0,0,0,0,0,2,60,2,139,17,N,30000,40000,Y,500000,20103,0,0,0,0,O,U,120000,0,85,16.523627,16.012846,0.000000,14.914456,0.000000
3,4,1,0,2,4,2,6001000,3001000,0,3001000,1,25,4,61,0,0,학생,0,10100,2,1,0.0,미혼,0,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0,0,4000000,4000000,0,0,0,0,0,1,35,1,1118,0,N,30000,80000,N,900000,20144,0,540000,0,630000,G,S,320000,0,34,15.607437,14.914456,0.000000,14.914456,0.000000
4,5,0,4,0,0,0,21001000,15001000,21001000,0,1,0,1,97,0,0,공무원,4800,4800,4,1,14.0,주부,0,0,0,0,0,0,0,0,0,0,0,0,95,2000000,0,0,0,0,0,0,300000,4000000,4000000,0,0,0,500000,2,1,45,1,396,354,W,50000,80000,Y,800000,20131,0,130000,0,90000,G,U,410000,0,55,16.860081,16.523627,16.860081,0.000000,0.000000

In [66]:
# 만원 -> 원

loan_feature_2 = ['CUST_JOB_INCM', 'HSHD_INFR_INCM','MATE_JOB_INCM']
check_data = copy_data[loan_feature_2]
loan_feature_2_unit = ["unit_{}".format(i) for i in loan_feature_2 ] 


for i,j in zip(loan_feature_2, loan_feature_2_unit):
    check_data[j]= list(map(lambda x: x*10000 , check_data[i]))

/Users/sherryjeon/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [70]:
#로그변환

loan_feature_2_unit_log = ["log_{}".format(i) for i in loan_feature_2_unit ] 

# 기존의 데이터에 log 를 취한 column생성


    
for i in loan_feature_2_unit:
    v = 'log_'+i
    check_data[v] = np.log(check_data[i]+1)

/Users/sherryjeon/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [71]:
#로그변환 취한 데이터를 copy_data에 적용
copy_data[loan_feature_2_unit_log] = check_data[loan_feature_2_unit_log]
copy_data[loan_feature_2] = check_data[loan_feature_2_unit]

In [72]:
copy_data.head()

,CUST_ID,TARGET,BNK_LNIF_CNT,CPT_LNIF_CNT,SPART_LNIF_CNT,ECT_LNIF_CNT,TOT_LNIF_AMT,TOT_CLIF_AMT,BNK_LNIF_AMT,CPT_LNIF_AMT,CRDT_OCCR_MDIF,SPTCT_OCCR_MDIF,CRDT_CARD_CNT,CTCD_OCCR_MDIF,CB_GUIF_CNT,CB_GUIF_AMT,OCCP_NAME_G,CUST_JOB_INCM,HSHD_INFR_INCM,ACTL_FMLY_NUM,CUST_FMLY_NUM,LAST_CHLD_AGE,MATE_OCCP_NAME_G,MATE_JOB_INCM,CRDT_LOAN_CNT,MIN_CNTT_DATE,TOT_CRLN_AMT,TOT_REPY_AMT,CRLN_OVDU_RATE,CRLN_30OVDU_RATE,LT1Y_CLOD_RATE,STRT_CRDT_GRAD,LTST_CRDT_GRAD,PREM_OVDU_RATE,LT1Y_PEOD_RATE,AVG_STLN_RATE,STLN_REMN_AMT,LT1Y_STLN_AMT,LT1Y_SLOD_RATE,GDINS_MON_PREM,SVINS_MON_PREM,FMLY_GDINS_MNPREM,FMLY_SVINS_MNPREM,MAX_MON_PREM,TOT_PREM,FMLY_TOT_PREM,CNTT_LAMT_CNT,LT1Y_CTLT_CNT,AUTR_FAIL_MCNT,FYCM_PAID_AMT,FMLY_CLAM_CNT,FMLY_PLPY_CNT,AGE,SEX,AVG_CALL_TIME,AVG_CALL_FREQ,TEL_MBSP_GRAD,ARPU,MON_TLFE_AMT,CBPT_MBSP_YN,MOBL_FATY_PRC,TEL_CNTT_QTR,NUM_DAY_SUSP,CRMM_OVDU_AMT,TLFE_UNPD_CNT,LT1Y_MXOD_AMT,PAYM_METD,LINE_STUS,MOBL_PRIN,MIN_CNTT_DATE_duration,TEL_CNTT_QTR_duration,log_unit_TOT_LNIF_AMT,log_unit_TOT_CLIF_AMT,log_unit_BNK_LNIF_AMT,log_unit_CPT_LNIF_AMT,log_unit_CB_GUIF_AMT,log_unit_CUST_JOB_INCM,log_unit_HSHD_INFR_INCM,log_unit_MATE_JOB_INCM
0,1,0,1,0,0,0,9001000,9001000,9001000,0,1,0,2,13,3,420001000,공무원,54000000,77000000,4,1,24.0,주부,0,0,0,0,0,0,0,0,0,0,12,20,0,0,0,0,190000,0,190000,0,190000,20000000,20000000,0,0,10,0,0,0,50,1,450,493,N,30000,80000,N,800000,20111,0,0,0,0,O,U,580000,0,79,16.012846,16.012846,16.012846,0.000000,19.855768,17.804495,18.159316,0.0
1,2,0,1,0,0,0,24001000,0,24001000,0,0,0,2,121,0,0,자영업,55000000,81000000,4,2,29.0,주부,0,0,0,0,0,0,0,0,0,0,13,0,0,0,0,0,0,0,110000,0,0,7000000,36000000,0,0,0,300000,2,5,50,1,81,22,N,30000,40000,N,500000,20143,0,0,0,0,O,U,90000,0,37,16.993606,0.000000,16.993606,0.000000,0.000000,17.822844,18.209960,0.0
2,3,0,0,1,3,2,15001000,9001000,0,3001000,1,25,4,121,0,0,주부,0,49000000,4,1,34.0,2차산업 종사자,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,100000,11000000,11000000,0,0,0,0,0,2,60,2,139,17,N,30000,40000,Y,500000,20103,0,0,0,0,O,U,120000,0,85,16.523627,16.012846,0.000000,14.914456,0.000000,0.000000,17.707331,0.0
3,4,1,0,2,4,2,6001000,3001000,0,3001000,1,25,4,61,0,0,학생,0,101000000,2,1,0.0,미혼,0,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0,0,4000000,4000000,0,0,0,0,0,1,35,1,1118,0,N,30000,80000,N,900000,20144,0,540000,0,630000,G,S,320000,0,34,15.607437,14.914456,0.000000,14.914456,0.000000,0.000000,18.430631,0.0
4,5,0,4,0,0,0,21001000,15001000,21001000,0,1,0,1,97,0,0,공무원,48000000,48000000,4,1,14.0,주부,0,0,0,0,0,0,0,0,0,0,0,0,95,2000000,0,0,0,0,0,0,300000,4000000,4000000,0,0,0,500000,2,1,45,1,396,354,W,50000,80000,Y,800000,20131,0,130000,0,90000,G,U,410000,0,55,16.860081,16.523627,16.860081,0.000000,0.000000,17.686712,17.686712,0.0

### (2) 로그변환취한 값을 적용하기

In [73]:
raw_feature = ['MOBL_PRIN', 'STLN_REMN_AMT','GDINS_MON_PREM', \
               'SVINS_MON_PREM', 'FMLY_GDINS_MNPREM','FMLY_SVINS_MNPREM',\
               'MAX_MON_PREM', 'TOT_PREM', 'FMLY_TOT_PREM',\
                'MON_TLFE_AMT','CRMM_OVDU_AMT',\
               'LT1Y_MXOD_AMT']

check_data = copy_data[raw_feature]

In [74]:

raw_feature_log = ["log_{}".format(i) for i in raw_feature]


for i in raw_feature:
    v = 'log_'+i
    check_data[v] = np.log(check_data[i]+1)

copy_data['ARPU_log'] = np.log(copy_data['ARPU']+2)

/Users/sherryjeon/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [75]:
copy_data[raw_feature_log] = check_data[raw_feature_log]

In [76]:
copy_data

,CUST_ID,TARGET,BNK_LNIF_CNT,CPT_LNIF_CNT,SPART_LNIF_CNT,ECT_LNIF_CNT,TOT_LNIF_AMT,TOT_CLIF_AMT,BNK_LNIF_AMT,CPT_LNIF_AMT,CRDT_OCCR_MDIF,SPTCT_OCCR_MDIF,CRDT_CARD_CNT,CTCD_OCCR_MDIF,CB_GUIF_CNT,CB_GUIF_AMT,OCCP_NAME_G,CUST_JOB_INCM,HSHD_INFR_INCM,ACTL_FMLY_NUM,CUST_FMLY_NUM,LAST_CHLD_AGE,MATE_OCCP_NAME_G,MATE_JOB_INCM,CRDT_LOAN_CNT,MIN_CNTT_DATE,TOT_CRLN_AMT,TOT_REPY_AMT,CRLN_OVDU_RATE,CRLN_30OVDU_RATE,LT1Y_CLOD_RATE,STRT_CRDT_GRAD,LTST_CRDT_GRAD,PREM_OVDU_RATE,LT1Y_PEOD_RATE,AVG_STLN_RATE,STLN_REMN_AMT,LT1Y_STLN_AMT,LT1Y_SLOD_RATE,GDINS_MON_PREM,SVINS_MON_PREM,FMLY_GDINS_MNPREM,FMLY_SVINS_MNPREM,MAX_MON_PREM,TOT_PREM,FMLY_TOT_PREM,CNTT_LAMT_CNT,LT1Y_CTLT_CNT,AUTR_FAIL_MCNT,FYCM_PAID_AMT,FMLY_CLAM_CNT,FMLY_PLPY_CNT,AGE,SEX,AVG_CALL_TIME,AVG_CALL_FREQ,TEL_MBSP_GRAD,ARPU,MON_TLFE_AMT,CBPT_MBSP_YN,MOBL_FATY_PRC,TEL_CNTT_QTR,NUM_DAY_SUSP,CRMM_OVDU_AMT,TLFE_UNPD_CNT,LT1Y_MXOD_AMT,PAYM_METD,LINE_STUS,MOBL_PRIN,MIN_CNTT_DATE_duration,TEL_CNTT_QTR_duration,log_unit_TOT_LNIF_AMT,log_unit_TOT_CLIF_AMT,log_unit_BNK_LNIF_AMT,log_unit_CPT_LNIF_AMT,log_unit_CB_GUIF_AMT,log_unit_CUST_JOB_INCM,log_unit_HSHD_INFR_INCM,log_unit_MATE_JOB_INCM,ARPU_log,log_MOBL_PRIN,log_STLN_REMN_AMT,log_GDINS_MON_PREM,log_SVINS_MON_PREM,log_FMLY_GDINS_MNPREM,log_FMLY_SVINS_MNPREM,log_MAX_MON_PREM,log_TOT_PREM,log_FMLY_TOT_PREM,log_MON_TLFE_AMT,log_CRMM_OVDU_AMT,log_LT1Y_MXOD_AMT
0,1,0,1,0,0,0,9001000,9001000,9001000,0,1,0,2,13,3,420001000,공무원,54000000,77000000,4,1,24.0,주부,0,0,0,0,0,0,0,0,0,0,12,20,0,0,0,0,190000,0,190000,0,190000,20000000,20000000,0,0,10,0,0,0,50,1,450,493,N,30000,80000,N,800000,20111,0,0,0,0,O,U,580000,0,79,16.012846,16.012846,16.012846,0.000000,19.855768,17.804495,18.159316,0.000000,10.309019,13.270785,0.000000,12.154785,0.000000,12.154785,0.000000,12.154785,16.811243,16.811243,11.289794,0.000000,0.000000
1,2,0,1,0,0,0,24001000,0,24001000,0,0,0,2,121,0,0,자영업,55000000,81000000,4,2,29.0,주부,0,0,0,0,0,0,0,0,0,0,13,0,0,0,0,0,0,0,110000,0,0,7000000,36000000,0,0,0,300000,2,5,50,1,81,22,N,30000,40000,N,500000,20143,0,0,0,0,O,U,90000,0,37,16.993606,0.000000,16.993606,0.000000,0.000000,17.822844,18.209960,0.000000,10.309019,11.407576,0.000000,0.000000,0.000000,11.608245,0.000000,0.000000,15.761421,17.399030,10.596660,0.000000,0.000000
2,3,0,0,1,3,2,15001000,9001000,0,3001000,1,25,4,121,0,0,주부,0,49000000,4,1,34.0,2차산업 종사자,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,100000,11000000,11000000,0,0,0,0,0,2,60,2,139,17,N,30000,40000,Y,500000,20103,0,0,0,0,O,U,120000,0,85,16.523627,16.012846,0.000000,14.914456,0.000000,0.000000,17.707331,0.000000,10.309019,11.695255,0.000000,0.000000,0.000000,0.000000,0.000000,11.512935,16.213406,16.213406,10.596660,0.000000,0.000000
3,4,1,0,2,4,2,6001000,3001000,0,3001000,1,25,4,61,0,0,학생,0,101000000,2,1,0.0,미혼,0,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0,0,4000000,4000000,0,0,0,0,0,1,35,1,1118,0,N,30000,80000,N,900000,20144,0,540000,0,630000,G,S,320000,0,34,15.607437,14.914456,0.000000,14.914456,0.000000,0.000000,18.430631,0.000000,10.309019,12.676079,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,15.201805,15.201805,11.289794,13.199326,13.353477
4,5,0,4,0,0,0,21001000,15001000,21001000,0,1,0,1,97,0,0,공무원,48000000,48000000,4,1,14.0,주부,0,0,0,0,0,0,0,0,0,0,0,0,95,2000000,0,0,0,0,0,0,300000,4000000,4000000,0,0,0,500000,2,1,45,1,396,354,W,50000,80000,Y,800000,20131,0,130000,0,90000,G,U,410000,0,55,16.860081,16.523627,16.860081,0.000000,0.000000,17.686712,17.686712,0.000000,10.819818,12.923915,14.508658,0.000000,0.000000,0.000000,0.000000,12.611541,15.201805,15.201805,11.289794,11.775297,11.407576
5,6,0,1,0,1,1,141001000,27001000,111001000,0,1,1,4,121,0,0,3차산업 종사자,44000000,77000000,2,2,0.0,단순 사무직,33000000,0,0,0,0,0,0,0,0,0,25,0,0,0,0,0,100000,0,190000,0,190000,1000000,6000000,0,0,0,300000,1,1,45,1,268,179,Q,60000,80000,N,400000,20154,0,0,0,0,O,U,170000,0,22,18.764278,17.111384,18.525050,0.000000,0.000000,17.599700,18.159316,17.312018,11.002133,12.043560,0.000000,11.512935,0.000000,12.154785,0.000000,12.154785,13.815512,15.607270,11.289794,0.000000,0.000000
6,7,0,0,1,2,1,12001000,3001000,0,9001000,121,121,2,121,1,6001000,주부,0,77000000,5,3,19.0,2차산업 종사자,44000000,1,200106,4000000,4000000,81,14,0,0,0,71,10,94,3000000,2000000,10,0,200000,300000,200000,200000,11000000,33000000,0,0,1,800000,0,0,40,2,744,535,W,50000,120000,N,900000,20143,0,120000,0,290000,G,U,720000,196,37,16.300501,14.914456,0.000000,16.012846,15.607437,0.000000,18.159316,17.599700,10.819818,13.487008,14.914123,0.000000,12.206078,12.611541,12.206078,12.206078,16.213406,17.312018,11.695255,11.695255,12.577640
7,8,0,1,0,0,0,3001000,3001000,3001000,0,1,0,2,121,0,0,기업/단체 임원,0,103000000,3,1,24.0,사무직,50000000,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0,60000,4000000,4000000,0,0,0,0,0,1,60,1,309,221,R,10000,70000,Y,900000,20021,0,0,0,0,O,U,40000,0,187,14.914456,14.914456,14.914456,0.000000,0.000000,0.000000,18.450240,17.727534,9.210540,10.596660,0.000000,0.000000,0.000000,0.000000,0.000000,11.002117,15.201805,15.201805,11.156265,0.000000,0.000000
8,9,0,2,0,0,0,273001000,273001000,273001000,0,37,0,5,121,0,0,주부,0,76000000,4,1,9.0,전문직,54000000,0,0,0,0,0,0,0,0,0,3,10,0,0,0,0,0,60000,0,60000,60000,2000000,2000000,0,0,0,0,0,0,40,2,314,179,R,60000,70000,Y,0,20131,0,0,0,0,O,U,0,0,55,19.424986,19.424986,19.424986,0.000000,0.000000,0.000000,18.146244,17.804495,11.002133,0.000000,0.000000,0.000000,11.002117,0.000000,11.002117,11.002117,14.508658,14.508658,11.156265,0.000000,0.000000
9,10,0,0,1,1,0,9001000,9001000,0,9001000,1,1,3,25,0,0,단순 사무직,47000000,124000000,4,1,14.0,기업/단체 임원,75000000,0,0,0,0,0,0,0,0,0,15,10,99,0,3000000,30,300000,0,300000,0,340000,36000000,36000000,0,0,21,300000,1,2,40,1,0,0,N,0,0,N,800000,20133,0,0,0,0,O,U,0,0,49,16.012846,16.012846,0.000000,16.012846,0.000000,17.665658,18.635792,18.132999,0.693147,0.000000,0.000000,12.611541,0.000000,12.611541,0.000000,12.736704,17.399030,17.399030,0.000000,0.000000,0.000000
10,11,1,0,3,5,2,27001000,27001000,0,18001000,1,25,4,61,0,0,주부,0,113000000,3,1,24.0,자영업,62000000,0,0,0,0,0,0,0,0,0,1,10,0,0,0,0,30000,0,30000,0,590000,1000000,1000000,0,0,2,0,0,0,55,2,17,5,N,40000,80000,N,900000,20062,0,0,0,0,R,U,470000,0,136,17.111384,17.111384,0.000000,16.705938,0.000000,0.000000,18.542898,17.942645,10.596685,13.060490,0.000000,10.308986,0.000000,10.308986,0.000000,13.287880,13.815512,13.815512,11.289794,0.000000,0.000000
11,12,0,0,1,2,1,9001000,6001000,0,1000,49,49,6,121,0,0,주부,0,92000000,2,1,0.0,전문직,53000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,40000,0,40000,0,40000,3000000,3000000,0,0,0,0,0,0,40,1,766,551,R,70000,380000,N,900000,20133,0,0,0,0,O,U,90000,0,49,16.012846,15.607437,0.000000,6.908755,0.000000,0.000000,18.337299,17.785802,11.156279,11.407576,0.000000,10.596660,0.000000,10.596660,0.000000,10.596660,14.914123,14.914123,12.847929,0.000000,0.000000
12,13,0,1,0,0,0,12001000,12001000,12001000,0,13,0,0,0,0,0,학생,0,59000000,3,2,0.0,미혼,0,0,0,0,0,0,0,0,0,0,40,0,98,3000000,1000000,0,190000,0,230000,0,390000,9000000,14000000,0,0,31,32400000,0,0,25,2,343,182,W,60000,120000,Y,800000,20141,0,0,0,0,O,U,810000,0,43,16.300501,16.300501,16.300501,0.000000,0.000000,0.000000,17.893048,0.000000,11.002133,13.604791,14.914123,12.154785,0.000000,12.345839,0.000000,12.873905,16.012735,16.454568,11.695255,0.000000,0.000000
13,14,0,2,0,0,0,201001000,6001000,201001000,0,13,0,4,121,0,0,사무직,47000000,80000000,2,1,0.0,미혼,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,30000,3000000,3000000,0,0,0,100000,1,1,40,1,547,184,W,60000,100000,N,900000,20151,0,0,0,0,K,U,330000,0,31,19.118820,15.607437,19.118820,0.000000,0.000000,17.665658,18.197537,0.000000,11.002133,12.706851,0.000000,0.000000,0.000000,0.000000,0.000000,10.308986,14.914123,14.914123,11.512935,0.000000,0.000000
14,15,0,3,1,1,0,15001000,9001000,9001000,3001000,13,0,3,37,0,0,학생,0,55000000,3,1,0.0,미혼,0,0,0,0,0,0,0,0,0,0,43,50,0,0,0,0,50000,0,50000,0,50000,1000000,1000000,0,0,2,0,0,0,25,2,398,140,Q,30000,70000,N,900000,20144,0,0,0,0,K,U,300000,0,34,16.523627,16.012846,16.012846,14.914456,0.000000,0.000000,17.822844,0.000000,10.309019,12.611541,0.000000,10.819798,0.000000,10.819798,0.000000,10.819798,13.815512,13.815512,11.156265,0.000000,0.000000
15,16,0,1,0,1,1,339001000,0,111001000,0,0,0,0,0,0,0,주부,0,49000000,5,1,19.0,2차산업 종사자,44000000,0,0,0,0,0,0,0,0,0,6,10,46,1000000,0,40,340000,0,340000,0,340000,17000000,17000000,0,0,13,0,0,0,30,1,169,10,Q,60000,140000,N,500000,20142,0,0,0,0,O,U,40000,0,40,19.641514,0.000000,18.525050,0.000000,0.000000,0.000000,17.707331,17.599700,11.002133,10.596660,13.815512,12.736704,0.000000,12.736704,0.000000,12.736704,16.648724,16.648724,11.849405,0.000000,0.000000
16,17,0,1,0,3,3,39001000,9001000,3001000,0,1,121,3,61,0,0,주부,0,110000000,4,2,19.0,사무직,62000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,990000,300000,18000000,76000000,0,0,0,0,0,1,55,2,5,0,N,20000,0,N,0,20092,0,0,0,0,N,U,0,0,100,17.479098,16.012846,14.914456,0.000000,0.000000,0.000000,18.515991,17.942645,9.903588,0.000000,0.000000,0.000000,0.000000,0.000000,13.805461,12.611541,16.705882,18.146244,0.000000,0.000000,0.000000
17,18,0,1,0,0,0,273001000,0,273001000,0,0,0,6,121,0,0,단순 노무직,36000000,106000000,2,2,0.0,주부,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,60000,7000000,12000000,0,0,0,300000,3,2,60,2,239,30,N,50000,80000,N,1000000,20102,0,0,0,0,O,U,280000,0,88,19.424986,0.000000,19.424986,0.000000,0.000000,17.399030,18.478950,0.000000,10.819818,12.542548,0.000000,0.000000,0.000000,0.000000,0.000000,11.002117,15.761421,16.300417,11.289794,0.000000,0.000000
18,19,0,1,0,0,0,18001000,18001000,18001000,0,37,0,5,121,0,0,주부,0,74000000,4,1,19.0,2차산업 종사자,56000000,0,0,0,0,0,0,0,0,0,2,10,0,0,0,0,390000,110000,390000,110000,590000,41000000,41000000,0,0,0,500000,4,1,45,2,0,106,Q,10000,20000,Y,300000,20142,0,0,0,0,K,U,30000,0,40,16.705938,16.705938,16.705938,0.000000,0.000000,0.000000,18.119576,17.840862,9.210540,10.308986,0.000000,12.873905,11.608245,12.873905,11.608245,13.287880,17.529083,17.529083,9.903538,0.000000,0.000000
19,20,0,2,0,1,1,174001000,42001000,129001000,0,25,0,2,121,0,0,3차산업 종사자,43000000,110000000,2,1,0.0,전문직,68000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,40000,6000000,6000000,0,0,0,0,0,1,50,2,273,93,N,50000,80000,N,900000,20143,0,0,0,0,O,U,130000,0,37,18.974572,17.553204,18.675331,0.000000,0.000000,17.576711,18.515991,18.035018,10.819818,11.775297,0.000000,0.000000,0.000000,0.000000,0.000000,10.596660,15.607270,15.607270,11.289794,0.000000,0.000000
20,21,0,0,0,1,1,165001000,0,0,0,37,37,3,121,0,0,학생,0,0,3,1,0.0,미혼,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,30000,0,30000,30000,1000000,1000000,0,0,0,0,0,0,35,1,249,395,R,70000,80000,Y,1000000,20131,0,0,0,0,K,U,0,0,55,18.921462,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11.156279,0.000000,0.000000,0.000000,10.308986,0.000000,10.308986,10.308986,13.815512,13.815512,11.289794,0.000000,0.000000
21,22,0,0,0,1,1,108001000,108001000,0,0,13,13,1,1,0,0,주부,0,60000000,3,2,4.0,미혼,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,70000,0,490000,0,70000,6000000,30000000,0,0,0,14600000,31,0,35,2,551,487,R,50000,60000,Y,0,20122,0,0,0,0,K,U,0,0,64,18.497651,18.497651,0.000000,0.000000,0.000000,0.000000,17.909855,0.000000,10.819818,0.000000,0.000000,11.156265,0.000000,13.102163,0.000000,11.156265,15.607270,17.216708,11.002117,0.000000,0.000000
22,23,0,0,0,1,1,180001000,180001000,0,0,25,85,0,0,0,0,비식별,37000000,74000000,5,2,0.0,비식별,37000000,0,0,0,0,0,0,0,0,0,22,30,0,0,0,0,90000,0,230000,0,90000,9000000,40000000,0,0,10,200000,0,1,46,1,405,192,Q,30000,30000,Y,0,20114,0,0,0,0,K,U,0,0,70,19.008473,19.008473,0.000000,0.000000,0.000000,17.426428,18.119576,17.426428,10.309019,0.000000,0.000000,11.407576,0.000000,12.345839,0.000000,11.407576,16.012735,17.504390,10.308986,0.000000,0.000000
23,24,0,0,1,2,1,51001000,0,0,1000,0,0,1,121,0,0,비식별,0,0,2,1,0.0,주부,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,9000000,9000000,0,0,0,50400000,6,0,46,1,550,280,W,40000,80000,N,800000,20102,2,80000,0,80000,O,U,470000,0,88,17.747356,0.000000,0.000000,6.908755,0.000000,0.000000,0.000000,0.000000,10.596685,13.060490,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,16.012735,16.012735,11.289794,11.289794,11.289794
24,25,0,1,0,0,0,192001000,0,192001000,0,0,0,2,121,0,0,주부,0,47000000,4,1,24.0,전문직,43000000,0,0,0,0,0,0,0,0,0,23,0,0,0,0,0,0,0,0,0,30000,4000000,4000000,0,0,0,1500000,14,1,55,1,240,272,N,30000,30000,Y,600000,20101,0,0,0,0,K,U,0,0,91,19.073011,0.000000,19.073011,0.000000,0.000000,0.000000,17.665658,17.576711,10.309019,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.308986,15.201805,15.201805,10.308986,0.000000,0.000000
25,26,0,1,0,0,0,27001000,27001000,27001000,0,121,0,3,121,0,0,사무직,47000000,47000000,1,1,0.0,미혼,0,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0,100000,0,100000,100000,10000000,10000000,0,0,3,0,0,0,50,2,117,80,W,30000,60000,N,800000,20112,0,0,0,0,K,U,60000,0,76,17.111384,17.111384,17.111384,0.000000,0.000000,17.665658,17.665658,0.000000,10.309019,11.002117,0.000000,0.000000,11.512935,0.000000,11.512935,11.512935,16.118096,16.118096,11.002117,0.000000,0.000000
26,27,0,0,0,1,1,6001000,6001000,0,0,0,0,3,121,0,0,고소득 전문직,84000000,84000000,5,2,24.0,주부,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,90000,0,90000,0,1190000,10000000,109000000,0,0,0,0,0,2,60,2,728,91,W,40000,50000,Y,1000000,20121,0,0,0,0,K,U,0,0,67,15.607437,15.607437,0.000000,0.000000,0.000000,18.246327,18.246327,0.000000,10.596685,0.000000,0.000000,11.407576,0.000000,11.407576,0.000000,13.989465,16.118096,18.506858,10.819798,0.000000,0.000000
27,28,0,1,0,0,0,39001000,0,39001000,0,0,0,3,73,0,0,자영업,59000000,91000000,4,1,24.0,주부,0,0,0,0,0,0,0,0,0,0,8,10,71,7000000,0,10,190000,0,190000,0,190000,28000000,28000000,0,0,2,0,0,1,60,1,444,289,N,60000,80000,Y,900000,20143,0,0,0,0,K,U,280000,0,37,17.479098,0.000000,17.479098,0.000000,0.000000,17.893048,18.326370,0.000000,11.002133,12.542548,15.761421,12.154785,0.000000,12.154785,0.000000,12.154785,17.147715,17.147715,11.289794,0.000000,0.000000
28,29,0,3,0,0,0,315001000,24001000,315001000,0,1,0,5,121,1,129001000,학생,0,108000000,1,1,0.0,미혼,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,80000,0,80000,0,80000,3000000,3000000,0,0,0,0,0,0,45,2,69,39,W,20000,20000,Y,0,20122,0,0,0,0,K,U,0,0,64,19.568086,16.993606,19.568086,0.000000,18.675331,0.000000,18.497642,0.000000,9.903588,0.000000,0.000000,11.289794,0.000000,11.289794,0.000000,11.289794,14.914123,14.914123,9.903538,0.000000,0.000000
29,30,0,0,0,1,1,3001000,3001000,0,0,37,37,3,37,1,18001000,3차산업 종사자,35000000,35000000,3,2,0.0,미혼,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,80000,0,230000,0,150000,8000000,16000000,0,0,0,100000,0,0,30,1,746,314,R,70000,120000,Y,0,20133,0,0,0,0,O,U,330000,0,49,14.914456,14.914456,0.000000,0.000000,16.705938,17.370859,17.370859,0.000000,11.156279,12.706851,0.000000,11.289794,0.000000,12.345839,0.000000,11.918397,15.894952,16.588099,11.695255,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100203,102223,0,1,0,0,0,135001000,0,135001000,0,85,0,5,121,0,0,사무직,43000000,107000000,3,1,9.0,전문직,64000000,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,260000,0,260000,0,260000,20000000,20000000,0,0,0,10200000,22,0,50,2,354,419,N,60000,80000,N,900000,20124,0,0,0,0,O,U,490000,0,58,18.720793,0.000000,18.720793,0.000000,0.000000,17.576711,18.488339,17.974394,11.002133,13.102163,0.000000,12.468441,0.000000,12.468441,0.000000,12.468441,16.811243,16.811243,11.289794,0.000000,0.000000
100204,102224,0,1,0,0,0,12001000,12001000,12001000,0,25,0,0,0,0,0,3차산업 종사자,26000000,63000000,1,1,0.0,미혼,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,40000,0,40000,0,40000,1000000,1000000,0,0,0,0,0,0,30,2,148,36,R,40000,100000,Y,700000,20103,0,0,0,0,O,U,310000,0,85,16.300501,16.300501,16.300501,0.000000,0.000000,17.073607,17.958645,0.000000,10.596685,12.644331,0.000000,10.596660,0.000000,10.596660,0.000000,10.596660,13.815512,13.815512,11.512935,0.000000,0.000000
100205,102225,0,1,0,0,0,24001000,0,24001000,0,0,0,4,121,0,0,단순 사무직,40000000,70000000,1,1,0.0,미혼,0,0,0,0,0,0,0,0,0,0,1,10,0,0,0,0,0,490000,0,490000,590000,21000000,21000000,1,0,1,0,0,0,35,2,152,195,R,50000,50000,N,1000000,20123,0,0,0,0,K,U,0,0,61,16.993606,0.000000,16.993606,0.000000,0.000000,17.504390,18.064006,0.000000,10.819818,0.000000,0.000000,0.000000,13.102163,0.000000,13.102163,13.287880,16.860033,16.860033,10.819798,0.000000,0.000000
100206,102226,0,1,0,1,1,216001000,39001000,39001000,0,0,37,7,121,0,0,주부,0,72000000,3,1,29.0,주부,0,0,0,0,0,0,0,0,0,0,25,0,75,12000000,0,30,0,0,0,0,110000,17000000,17000000,0,0,0,0,0,2,50,2,0,0,N,0,0,N,0,20142,0,0,0,0,R,U,0,0,40,19.190794,17.479098,17.479098,0.000000,0.000000,0.000000,18.092177,0.000000,0.693147,0.000000,16.300417,0.000000,0.000000,0.000000,0.000000,11.608245,16.648724,16.648724,0.000000,0.000000,0.000000
100207,102227,0,1,0,0,0,63001000,63001000,63001000,0,25,0,2,121,0,0,사무직,0,26000000,2,1,0.0,미혼,0,0,0,0,0,0,0,0,0,0,62,20,0,0,0,0,0,1190000,0,1190000,1190000,6000000,6000000,0,0,0,0,0,0,60,1,21,33,Q,20000,20000,Y,0,20132,0,0,0,0,O,U,0,0,52,17.958661,17.958661,17.958661,0.000000,0.000000,0.000000,17.073607,0.000000,9.903588,0.000000,0.000000,0.000000,13.989465,0.000000,13.989465,13.989465,15.607270,15.607270,9.903538,0.000000,0.000000
100208,102228,0,1,0,0,0,9001000,9001000,9001000,0,13,0,5,121,0,0,사무직,50000000,98000000,4,1,29.0,사무직,48000000,0,0,0,0,0,0,0,0,0,9,10,74,6000000,0,20,230000,0,230000,0,590000,26000000,26000000,1,0,6,10900000,22,0,55,1,0,0,N,10000,20000,N,500000,20114,0,0,0,0,O,U,0,0,70,16.012846,16.012846,16.012846,0.000000,0.000000,17.727534,18.400478,17.686712,9.210540,0.000000,15.607270,12.345839,0.000000,12.345839,0.000000,13.287880,17.073607,17.073607,9.903538,0.000000,0.000000
100209,102229,0,1,1,1,0,6001000,6001000,3001000,3001000,25,25,8,121,0,0,공무원,50000000,93000000,4,2,19.0,주부,0,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0,40000,7000000,17000000,0,0,0,24100000,13,3,45,2,768,197,R,50000,120000,N,1000000,20084,0,0,0,0,K,U,280000,0,106,15.607437,15.607437,14.914456,14.914456,0.000000,17.727534,18.348110,0.000000,10.819818,12.542548,0.000000,0.000000,0.000000,0.000000,0.000000,10.596660,15.761421,16.648724,11.695255,0.000000,0.000000
100210,102230,0,0,0,1,1,3001000,3001000,0,0,61,61,3,121,0,0,학생,0,67000000,3,1,0.0,미혼,0,0,0,0,0,0,0,0,0,0,67,90,0,0,0,0,90000,0,90000,0,260000,5000000,5000000,0,0,34,0,0,0,55,2,0,0,N,30000,0,Y,0,20161,0,0,0,0,N,U,0,0,19,14.914456,14.914456,0.000000,0.000000,0.000000,0.000000,18.020203,0.000000,10.309019,0.000000,0.000000,11.407576,0.000000,11.407576,0.000000,12.468441,15.424949,15.424949,0.000000,0.000000,0.000000
100211,102231,0,1,1,2,1,186001000,144001000,141001000,3001000,25,25,3,121,0,0,자영업,39000000,85000000,4,1,24.0,사무직,46000000,0,0,0,0,0,0,0,0,0,41,20,0,0,0,0,230000,0,230000,0,230000,3000000,3000000,0,0,1,0,0,0,50,2,0,0,N,10000,10000,N,0,20151,0,0,0,0,O,U,0,0,31,19.041263,18.785331,18.764278,14.914456,0.000000,17.479072,18.258162,17.644152,9.210540,0.000000,0.000000,12.345839,0.000000,12.345839,0.000000,12.345839,14.914123,14.914123,9.210440,0.000000,0.000000
100212,102232,0,0,0,1,1,297001000,0,0,0,0,0,3,85,0,0,주부,0,51000000,4,2,34.0,1차산업 종사자,34000000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,90000,0,0,13000000,30000000,0,0,0,600000,3,1,55,2,29,26,N,20000,30000,N,0,20121,0,0,0,0,O,U,0,0,67,19.509246,0.000000,0.000000,0.000000,0.000000,0.000000,17.747336,17.341871,9.903588,0.000000,0.000000,0.000000,0.000000,11.407576,0.000000,0.000000,16.380460,17.216708,10.308986,0.000000,0.000000

# Pickle 변환
일차적으로 데이터를 pickle 로 내보낸다

In [79]:
#Test set to be pickle files
import pickle


pickle.dump(copy_data, open( "challenge1", "wb" ) )